:root{
    --font-15:15px;
    --font-16: 16px;
    --font-17: 17px;
    --font-18: 18px;
    --font-19:19px;
    --font-20:20px;
    --font-400:400;
    --font-500:500;
    --font-600:600;
    --font-700:700;
    --white:white;
    --grey:grey;
    --black:black;
    --green:green;
}
body{
    font-size: var(--font-17);
    font-weight: var(--font-400);
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
/* .navbar{
    border-bottom: 0.5px solid grey;
    margin-top: 30px;
} */
/* #cont1 ,#cont1 .bi{
    font-size:var(--font-18);
    font-weight: var(--font-500);
}
#icon1 .link{
    color: var(--white);
}
#icon1 .link:hover{
    color: #fe9703;
} */
.navbar-toggler{
    border: 0;
    padding: 15px;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
  }
  .toggler-icon{
    width: 30px;
    height: 3px;
    background-color: var(--white);
    display: block;
    transition: all 0.2s;
  }
  .middle-bar{
    margin: 5px auto;
  }
  .navbar-toggler .top-bar{
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggler .middle-bar{
   opacity: 0;
   filter: alpha(opacity=0);
  }
  .navbar-toggler .bottom-bar{
    transform: rotate(-45deg);
    transform-origin: 10% 10%;
  }
  .navbar-toggler.collapsed .top-bar{
    transform: rotate(0);
  }
  .navbar-toggler.collapsed .middle-bar{
    opacity: 1;
   filter: alpha(opacity=100);
  }
  .navbar-toggler.collapsed .bottom-bar{
    transform: rotate(0);
  }
  .navbar-toggler.collapsed .toggler-icon{
    background-color: var(--white);
  }

 .nav-link, .nav-link .bi{
    font-size:var(--font-18);
    font-weight: var(--font-700);
}
.dropdown-toggle::after{
    display: none;
}
.dropdown-item{
    color: var(--grey);
    font-size:  var(--font-17);
    font-weight:var(--font-500);
}
.dropdown-item:hover{
    background: none;
    color: var(--black);
}
.dropdown-menu .header{
    font-weight: var(--font-700);
    font-size: var(--font-18);
}
.dropdown-submenu::after{
    content: "+";
    color: var(--grey);
    float: right;
    /* font-size: 24px; */
}
.dropdown-submenu:hover::after{
    content: "-";
    font-size: 24px;
    color: var(--black);
}
/* #right :not(.)::after */
.dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu a{
    color: var(--grey);
    font-size: var(--font-17);
    font-weight: var(--font-500);
  }
  .dropdown-submenu a:hover{
    background: none;
    color: var(--black);
  }
  .dropdown-submenu .dropdown-menu {
    left: 105%;
    top: -6px;
  }
  
  .dropdown-submenu:hover .dropdown-menu, .dropdown-submenu  a:focus + .dropdown-menu {
    display: block;
  }
  .dropdown-menu{
    border: 0;
    padding: 20px;
  }
  
.sidebar-link{
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon{
    display: inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(90deg);
    top: 10px;
}
#drop,#near,#list,#element{
    width: 95%;
    /* height: 200px; */
}
#near{
    width: 95%;
    margin: 20px;
    /* height: 200px; */
}
#btn1{
    background-color:var(--green);
    border-radius: 10px;
    font-size: var(--font-19);
    /* padding: 10px ; */
}
#btn1:hover{
    background-color: #fe9703 ;
}
#icon2{
    font-size:  var(--font-19);
}
#flex li{
    font-weight: 600;
    padding: 10px 20px;
}
#flex a{
  color: #575a7b;
}
#flex li:hover{
    color: var(--green);
    cursor: pointer;
}
#flex li:hover{
    background-color: rgba(38,174,97,0.1);
    border-radius: 13px;
    cursor: pointer;
}
#flex1{
    background-color: rgba(38,174,97,0.1);
    border-radius: 13px;
}
.breadcrumb-item{
    font-weight: var(--font-600);
    font-size: 19px;
}
#breadcrumb{
    color: gray;
}
#breadcrumb:hover{
    color: black;
}
#main-col{
    border-left: 1px solid gray;
    height: 100%;
    top: 0;
}
#main-col h2, #main-col h3{
    font-weight:var(--font-600);
}
#main-col h6{
    font-size: 15px;
    font-weight: 500;
}
.card-header h5{
    font-weight: var(--font-600);
    font-size: var(--font-20);
}
.card-header{
    background-color: #f8f9fa;
    border: 1px solid #ededed;
    border-radius: 15px;
    padding: 13px 20px;
}
.card{
    border-radius: 15px;
}
#show #search{
    padding: 8px;
    font-size:var(--font-18);
    border-radius: 14px;
    width: 100%;
    border: 1px solid #ced4da;
}
#show1 .form-select{
    padding: 10px;
    font-size:var(--font-18);
    border-radius: 14px;
    width: 100%;
}
#recent p, #locate{
    color:#fe9703 ;
    font-size: 16px;
    font-weight: 500;
}
#recent h5 a{
    font-weight: 600;
    font-size: 21px;
}
.card .card:hover{
    box-shadow: 0px 5px 6px #bdbdbd;
}
 #app{
    font-size: 16px;
    line-height: 15px;
    margin-right: 5px;
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    background: #F0F5F7;
}
.eye{
    margin-top: 50px;
}
 #eye{
    /* background: #fe9703; */
    color: #26ae61;
    background-color:rgba(38,174,97,0.1);
    height: 70px;
    width: 100px;
    padding: 10px;
    line-height: 70px;
    border-radius: 10px;
}
#eye:hover{
    background-color: var(--green);
    color: white;
}
#board .link{
    color: var(--green);
    font-size: 19px;
}
#board .link:hover{
    color: #fe9703;
}
#board h6{
    font-size: 19px;
}


@media only screen and (min-width:200px) and (max-width:575px){
    body{
        width: 100%;
        margin: 0;
    }
    #none,#btn1,#icon1{
        display: none;
    }
    .nav-link{
        font-size: var(--font-15);
        font-weight: var(--font-600);
    }
    .nav-link .bi{
        display: none;
       }
       .nav-link a::after{
        content: "+";
       }
       .nav-item{
        border-top:1px solid #e6e6e6;
        padding-top: 8px;
        padding-bottom: 8px;
       }
       .right-sidebar li{
        border-top: none;
       }
       .right-sidebar .nav-link::after{
        content: none;
       }
       #near .col-sm-2{
        width: 100%;
        border-top: 1px solid #e6e6e6;
       padding: 15px;
       background-color: lightgrey;
       }
       #near .header, #list .header{
        font-size: var(--font-16);
        font-weight: var(--font-400);
       }
      
       #list .dropdown-item,#list .owl-theme, #element .dropdown-item{
        display: none;
       }
       #list .col-lg-3,.dropdown-menu .dropdown-item{
        border-top: 1px solid #e6e6e6;
        background-color: lightgrey;
        padding: 5px;
       }
       .dropdown-submenu,  #element .col-sm-12{
        border-top: 1px solid #e6e6e6;
        background-color: lightgrey;
        padding: 10px;
       }
       #element .header,.dropdown-item{
        font-size: var(--font-16);
        font-weight: var(--font-400);
       }
   
    .navbar{
        width: 100%;
    }
    .navbar-brand img {
        width: 30%;
    }
    
    #main-col{
        border-left: none;
    }
    #flex li{
        border-top: none;
    }
    .breadcrumb-item{
        font-size: var(--font-15);
    }
    #show #search{
        font-size:var(--font-15);
    }
    #show1 .form-select{
        font-size:var(--font-15);
    }
    .d-flex{
        flex-direction: column;
        text-align: center;
    }
    .text-3{
        margin-top: 15px;
    }
    .eye{
        text-align: center;
    }
    .eye{
        margin-top: 5px;
    }
   
    #recent p, #locate{
        color:#fe9703 ;
        font-size: var(--font-15);
        font-weight: 500;
    }
    span{
        font-size: var(--font-15);
    }
    #recent h5 a{
        font-weight: 600;
        font-size: var(--font-18);
    }
    #app{
        font-size: 14px;
        font-weight: var(--font-500);
    }
    #board .link{
        font-size:14.5px;
    }
    #board h6{
        font-size:14.5px;
    }

}

@media only screen and (min-width:577px) and (max-width:992px){
    body{
        width: 100%;
        margin: 0;
    }
    #cont1 .text-white,#cont1 .bi{
        font-size: var(--font-15);
    }
    #none,#btn1,#icon1{
        display: none;
    }
    .nav-link{
        font-size: var(--font-15);
        font-weight: var(--font-600);
    }
    .nav-link .bi{
        display: none;
       }
       .nav-link::after{
        content: "+";
       }
       .nav-item{
        border-top:1px solid #e6e6e6;
        padding-top: 8px;
        padding-bottom: 8px;
       }
       .right-sidebar li{
        border-top: none;
       }
       .right-sidebar .nav-link::after{
        content: none;
       }
       #near .col-sm-2{
        width: 100%;
        border-top: 1px solid #e6e6e6;
       padding: 15px;
       background-color: lightgrey;
       }
       #near .header, #list .header{
        font-size: var(--font-16);
        font-weight: var(--font-400);
       }
      
       #list .dropdown-item,#list .owl-theme, #element .dropdown-item{
        display: none;
       }
       #list .col-lg-3,.dropdown-menu .dropdown-item{
        border-top: 1px solid #e6e6e6;
        background-color: lightgrey;
        padding: 5px;
       }
       .dropdown-submenu{
        border-top: 1px solid #e6e6e6;
        background-color: lightgrey;
        padding: 10px;
       }
       #element .col-sm-12{
        border-top: 1px solid #e6e6e6;
        background-color: lightgrey;
        padding: 10px;
       }
       #element .header,.dropdown-item{
        font-size: var(--font-16);
        font-weight: var(--font-400);
       }
    .navbar{
        width: 100%;
    }
    .navbar-brand{
        width: 70%;
    }
    .dropdown-menu{
    border: 0;
    }
    #main-col{
        border-left: none;
    }
  
    #flex li{
        border-top: none;
    }
   #col-1{
    width: 60%;
   }
   #col-2{
    width: 40%;
   }
    #recent p, #locate{
        color:#fe9703 ;
        font-size: var(--font-15);
        font-weight: var(--font-400);
    }
    #recent h5 a{
        font-weight:var(--font-500);
        font-size:var(--font-19);
    }
    #show1 .form-select{
        font-size: var(--font-15);
    }
    span{
        font-size: var(--font-15);
    }
    .eye{
        float: right;
    }
    #app{
        font-size: 14px;
        font-weight: var(--font-400);
    }
    #board .link{
        font-size: var(--font-17);
    }
    #board h6{
        font-size: var(--font-17);
    }
}



@media only screen and (min-width:993px) and (max-width:1199px){
    body{
        width: 100%;
        margin: 0;
    }
    #cont1 .text-white,#cont1 .bi{
        font-size: var(--font-15);
    }
    #none,#btn1,#icon1{
        display: none;
    }
    .nav-link{
        font-size: var(--font-15);
        font-weight: var(--font-600);
    }
    .nav-link .bi{
        display: none;
       }
       .nav-link::after{
        content: "+";
       }
       .nav-item{
        border-top:1px solid #e6e6e6;
        padding-top: 8px;
        padding-bottom: 8px;
       }
       .right-sidebar li{
        border-top: none;
       }
       .right-sidebar .nav-link::after{
        content: none;
       }
       #near .col-sm-2{
        width: 100%;
        border-top: 1px solid #e6e6e6;
       padding: 15px;
       background-color: lightgrey;
       }
       #near .header, #list .header{
        font-size: var(--font-16);
        font-weight: var(--font-400);
       }
      
       #list .dropdown-item,#list .owl-theme, #element .dropdown-item{
        display: none;
       }
       #list .col-lg-3,.dropdown-menu .dropdown-item{
        border-top: 1px solid #e6e6e6;
        background-color: lightgrey;
        padding: 5px;
       }
       .dropdown-submenu{
        border-top: 1px solid #e6e6e6;
        background-color: lightgrey;
        padding: 10px;
       }
       #element .col-sm-12{
        border-top: 1px solid #e6e6e6;
        background-color: lightgrey;
        padding: 10px;
       }
       #element .header,.dropdown-item{
        font-size: var(--font-16);
        font-weight: var(--font-400);
       }
    .navbar{
        width: 100%;
    }
    .navbar-brand{
        width: 80%;
    }
    .dropdown-menu{
    border: 0;
    }
    #main-col{
        border-left: none;
    }
    #flex li{
        font-weight:var(--font-600);
        font-size: var(--font-15);
        padding: 10px 10px;
        border-top: none;
    }
    #col-1{
        width: 60%;
       }
       #col-2{
        width: 40%;
       }
        #recent p, #locate{
            color:#fe9703 ;
            font-size: var(--font-15);
            font-weight: var(--font-400);
        }
        #recent h5 a{
            font-weight:var(--font-500);
            font-size:var(--font-19);
        }
        #show1 .form-select{
            font-size: var(--font-15);
        }
        span{
            font-size: var(--font-15);
        }
        .eye{
            float: right;
        }
        #app{
            font-size: 14px;
            font-weight: var(--font-400);
        }
    #board .link{
        font-size: var(--font-17);
    }
    #board h6{
        font-size: var(--font-17);
    }
   

}