<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Login Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid py-2 px-2">
          <a  href="" class="navbar-brand"><img src="../assets/jobhai/logo/logo.svg"><small>A Naukri Group Company</small></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href=" " class="nav-link me-2 ms-2 text-success" aria-current="page"><i class="bi bi-phone me-2 text-success"></i>Download App</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle me-2 ms-2 text-success" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 English
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item py-2 px-2 " href="#">English</a></li>
                    <li><a class="dropdown-item py-2 px-2" href="#">Thoda English(Hinglish)</a></li>
                    <li><a class="dropdown-item py-2 px-2" href="#">हिंदी</a></li>
                    <li><a class="dropdown-item py-2 px-2" href="#">मराठी</a></li>
                    <li><a class="dropdown-item py-2 px-2" href="#">ગુજરાતી</a></li>
                    <li><a class="dropdown-item py-2 px-2" href="#">తెలుగు(Telugu)</a></li>
                    <li><a class="dropdown-item py-2 px-2" href="#">ಕನ್ನಡ(Kannada)</a></li>
                    <li><a class="dropdown-item py-2 px-2" href="#">বাংলা(Bengali)</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container mt-5">
        <!-- <div class="row py-2 px-4">
            <div class="col-sm-12 col-md-12 col-lg-12"> -->
                <div class="card" id="main">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6 py-4 px-4">
                            <div class="jumbotron py-4 px-4 me-4 ms-4" >
                                <h1 class="py-4 px-4 me-4 ms-4" id="card1">Talk to HR directly & get a job with better salary!</h1>
                                <h4 class=" text-secondary me-4 ms-4 px-3">Get local jobs in your city!
                                    <img class="ms-2" src="../assets/jobhai/logo/rightPointingFinger.svg"></h4>
                            </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 py-4 px-4">
                                <div class="card py-4 px-4 ms-5 me-5 ps-5">
                                    <div class="head mt-4 mb-4">
                                        <h4>Enter your number to continue</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-2 text-secondary" for="fullname">Mobile Number</label>
                                        <input type="text" class="form-control" id="number" placeholder="Enter mobile number to get OTP">
                                    </div>
                                    <div class="btn mt-4 mb-4 ">
                                        <a href="" class="btn rounded-pill text-white" id="btn">Get Started</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            <!-- </div>
        </div> -->
        <small class="end mt-2">I agree to <a href="" class="link text-success">Terms & Conditions </a> & 
            <a href="" class="link text-success">Privacy Policy </a>of Job Hai</small>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
      <script>
        
      </script>
</body>
</html>