<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/aboutUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <title>About Us</title>
</head>
<body>
        <div class="container-fluid bg-success">
        <div class="row  py-2 px-2 ms-4 me-4" id="cont1">
            <div class="col-sm-6 col-md-6 col-lg-10">
                <h7 class="text-white me-4">
                    <i class="bi bi-phone me-1"></i>
                    (+123) 456 7890
                </h7>
                <h7 class="text-white me-4" id="none">
                    <i class="bi bi-envelope-fill me-1"></i>
                    addyour@emailhere
                </h7>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2" id="icon1">
                <a href="" class="link"><i class="bi bi-facebook"></i></a>
                <a href="" class="link"><i class="bi bi-twitter me-3 ms-3"></i></a>
                <a href="" class="link"><i class="bi bi-instagram"></i></a>
                <a href="" class="link"><i class="bi bi-linkedin ms-3"></i></a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#"><img class="img-fluid" src="../assets/img/logo/logo.png" style="width: 200px;height: auto;"></a>
          <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" 
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        home<small><i class="bi bi-chevron-down ms-2" id="none"></i></small></a>

                    <ul class="dropdown-menu " id="near" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row  pt-4 pb-4" >
                            <div class="col-sm-2 col-md-2 col-lg-2 ">
                                <a href="">
                                <span class="header text-dark text-uppercase ms-2">home 01</span><br>
                                <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-01.jpg" width="100%" height="auto"></a>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 ">
                                    <a href="">
                                    <span class="header text-dark text-uppercase ms-2">home 02</span><br>
                                    <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-02.jpg" width="100%" height="auto"></a>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 ">
                                        <a href="">
                                        <span class="header text-dark text-uppercase ms-2">home 03</span><br>
                                        <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-03.jpg" width="100%" height="auto"></a>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2 ">
                                            <a href="">
                                            <span class="header text-dark text-uppercase ms-2">home 04</span><br>
                                            <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-04.jpg" width="100%" height="auto"></a>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2 ">
                                                <a href="">
                                                <span class="header text-dark text-uppercase ms-2">home 05</span><br>
                                                <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-05.jpg" width="100%" height="auto"></a>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 " id="none">
                                                    <a href="">
                                                    <span class="header text-dark text-uppercase ms-2">coming soon</span><br>
                                                    <img class="img-fluid mt-4" id="none" src="../assets/img/home/comingsoon.jpg" width="100%" height="auto"></a>
                                                    </div>
                                </div>
                </ul>
            </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                pages<small><i class="bi bi-chevron-down ms-2" id="none"></i></small>
                </a>
                <ul class="dropdown-menu pt-4 pb-4 pe-4 ps-2" id="page" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">About Us</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">How It Works</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">Testimonials</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">Pricing Plan</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">FAQ</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">Contact Us</a></li>
                    <li class="dropdown-submenu py-2 ps-3 ">
                        <a  href="#">User Pages</a>
                        <ul class="dropdown-menu py-4 px-2 pe-4 ">
                          <li><a class="dropdown-item pb-2" href="#">Login</a></li>
                          <li><a class="dropdown-item pb-2" href="#">Register</a></li>
                          <li><a class="dropdown-item pb-2" href="#">Forgot Password</a></li>
                        </ul>
                      </li>
                    <li class="dropdown-submenu py-2 ps-3 ">
                        <a href="#">Others</a>
                        <ul class="dropdown-menu py-4 px-2 pe-4 ">
                          <li><a class="dropdown-item pb-2" href="#">Privacy Policy</a></li>
                          <li><a class="dropdown-item pb-2" href="#">Term & Condition</a></li>
                          <li><a class="dropdown-item pb-2" href="#">Comming Soon</a></li>
                          <li><a class="dropdown-item pb-2" href="#">404 Error</a></li>
                        </ul>
                      </li>
                </ul>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        job listing<small><i class="bi bi-chevron-down ms-2" id="none"></i></small></a>
                    <ul class="dropdown-menu " id="list" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-lg-3">
                                <span class="header text-uppercase ms-3">
                                   job listing
                                </span>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 1 - Without Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 1 - Left Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 1 - Right Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 2 - Without Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 2 - Left Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 2 - Right Sidebar</a>
                            </div>
                            <div class="col-lg-3 ">
                                <span class="header text-uppercase ms-3">
                                   job grid
                                </span>
                                <a href="" class="dropdown-item  mt-3 mb-3"> Job Grid 1 - Without Sidebar </a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 1 - Left Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 1 - Right Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 2 - Without Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 2 - Left Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 2 - Right Sidebar</a>
                            </div>
                            <div class="col-lg-3">
                                <span class="header text-uppercase ms-3">
                                  job details
                                </span>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Details 1</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Details 2</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Details 3</a>
                            </div>
                            <div class="col-lg-3">
                                <div id="nav-owl" class="owl-carousel owl-theme">
                                    <div class="item">
                                        <img src="../assets/img/slider/menu-slider1.jpg" width="350px" height="auto">
                                    </div>
                                    <div class="item">
                                        <img src="../assets/img/slider/menu-slider2.jpg" width="350px" height="auto">
                                    </div>
                                    <div class="item">
                                        <img src="../assets/img/slider/menu-slider3.jpg" width="350px" height="auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        explore<small><i class="bi bi-chevron-down ms-2" id="none"></i></small>
                        </a>
                        <ul class="dropdown-menu  pt-4 pb-4" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu py-2 ps-3 pe-2">
                                <a href="#">Candidates</a>
                                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                                  <li><a class="dropdown-item pb-2 " href="#">Candidates Grid</a></li>
                                  <li><a class="dropdown-item pb-2" href="#">Candidates List</a></li>
                                  <li><a class="dropdown-item pb-2" href="#">Candidates Details</a></li>
                                  <li><a class="dropdown-item pb-2" href="#">Candidates Dashboard</a></li>
                                </ul>
                              </li>
                            <li class="dropdown-submenu py-2 ps-3 pe-2">
                                <a href="#">Employers</a>
                                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                                    <li><a class="dropdown-item pb-2 " href="#">Employers Grid</a></li>
                                    <li><a class="dropdown-item pb-2" href="#">Employers List</a></li>
                                    <li><a class="dropdown-item pb-2" href="#">Employers Details</a></li>
                                    <li><a class="dropdown-item pb-2" href="#">Employers Dashboard</a></li>
                                </ul>
                              </li>
                        </ul>
                    </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        elements<small><i class="bi bi-chevron-down ms-2" id="none"></i></small></a>
                    <ul class="dropdown-menu" id="element" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row  pt-4 pb-4 pe-4 ms-5">
                            <div class="col-sm-12 col-md-3 col-lg-3 ">
                                <span class="header text-dark text-uppercase ms-2">elements 01</span>
                                <a href="" class="dropdown-item py-2 px-2 mt-3"><i class="bi bi-sliders me-2"></i> Accordian</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-bell me-2"></i>Alerts</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-exclude me-2"></i>Blockquote</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-link-45deg me-2"></i>Buttons</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-square me-2"></i>Call to Action</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-image me-2"></i>Carousel Slider</a>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <span class="header text-dark text-uppercase ms-2">elements 02</span>
                                <a href="" class="dropdown-item py-2 px-2 mt-3"><i class="bi bi-flag me-2"></i>Count Down</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-lightning-charge-fill me-2"></i>Counters</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-badge-cc me-2"></i>Dropcaps</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-boxes me-2"></i>Form Elements</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-check-square me-2"></i>Font Icons</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-thermometer-high me-2"></i>Highlights</a>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <span class="header text-dark text-uppercase ms-3">elements 03</span>
                                <a href="" class="dropdown-item py-2 px-2 mt-3"><i class="bi bi-arrows-move me-2"></i>Header Style 01</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-arrows-fullscreen me-2"></i>Header Style 02</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-file-font me-2"></i>Icons With Text</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-list-ul me-2"></i>List Styles</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-film me-2"></i>Media Object</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-bell me-2"></i>Modal</a>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <span class="header text-dark text-uppercase ms-3">elements 04</span>
                                <a href="" class="dropdown-item py-2 px-2 mt-3"><i class="bi bi-caret-right-square me-2"></i>Pagination</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-list-check me-2"></i>Progress Bars</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-table me-2"></i>Tables</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-font me-2"></i>Tabs</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-fonts me-2"></i>Typography</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-camera-video-fill me-2"></i>Videos</a>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    blog<small><i class="bi bi-chevron-down ms-2" id="none"></i></small>
                    </a>
                    <ul class="dropdown-menu pt-4 pb-4" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item pt-3 pb-3 me-5" href="#">Blog Grid</a></li>
                        <li><a class="dropdown-item pt-3 pb-3 me-5" href="#">Blog List</a></li>
                        <li><a class="dropdown-item pt-3 pb-3 me-5" href="#">Blog Details</a></li>
                    </ul>
                </li>
            </ul>
          </div>
          <a href="" class="link text-dark py-2 px-2 me-4"><i class="bi bi-search" id="icon2"></i></a>
          <a href="" class="btn btn-lg btn-block text-white  me-4 pe-4 ps-4 pt-2 pb-2" id="btn1">Post a Job</a>
        </div>
      </nav>
      <section class=" pt-4 pb-4 mt-4 mb-4" id="blog">
        <div class="container pt-4 pb-4">
            <h1 class="text-dark text-center fw-bold mb-4 mt-4">About Us</h1>
            <div class="row justify-content-center pb-4">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="card text-center bg-white mb-4">
                        <nav aria-label="breadcrumb ">
                            <ol class="breadcrumb text-center ms-5 mt-3">
                              <li class="breadcrumb-item "><a href="#" id="breadcrumb">Home</a></li>
                              <li class="breadcrumb-item active text-success" aria-current="page">About Us</li>
                            </ol>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <div class="container border-bottom pb-5 mt-5 pt-5" id="care">
        <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="row g-3 me-5" id="about">
                <div class="col-8">
                    <img class="about-1" style="max-width: 100%;"  src="../assets/img/about/about-01.jpg">
                </div>
                <div class="col-4">
                <div class="about-2">
                    <img src="../assets/img/about/about-02.jpg">
                    <a href="" class="btn bg-warning text-white"><i class="bi bi-play-fill fs-3"></i></a>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="about-3">
                    <img class="about-3"  src="../assets/img/about/about-03.jpg">
                </div>
            </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mt-4">
            <h1 class="text-dark mb-4">We Care About Your Life For Better Future.</h1>
            <p class="mb-4">Start taking a while for your job search to request and agenda informational interviews with human beings 
                withinside the fields you’re interested by to find out about their profession paths and get profession advice.</p>
                <div class="d-flex mb-4 border-bottom" id="option">
                    <div class="me-5 mb-4">
                        <h4 class="text-dark mb-4"><span class="text-success">01<i class="bi bi-dash-lg ms-2 me-2"></i></span>What We Believe</h4>
                        <p>Single one in all our jobs has a few sort of flexibility option.</p>
                    </div>
                    <div class="mb-4">
                        <h4 class="text-dark mb-4"><span class="text-success">02<i class="bi bi-dash-lg ms-2 me-2"></i></span>What We Offer</h4>
                        <p>Single one in all our jobs has a few sort of flexibility option.</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="me-4"><img src="../assets/img/about/author-sign.png"></div>
                    <div class="border-start">
                        <h5 class="text-dark ms-4 mt-1">Svend Heilmann</h5>
                    <p class="text-secondary ms-4">Co-Founder</p>
                </div>
                </div>
        </div>
    </div>
      </div>
      <div class="container mb-5 pt-4 pb-5" id="fill">
        <div class="row">
            <div class=" col-sm-6 col-md-6 col-lg-3">
                <div class="counter-box d-flex me-4 mt-4">
                    <div>
                    <img class="mt-3" height="70" src="../assets/img/icon/icon-22.png">
                </div>
                <div class="border-end ms-4 me-4"></div>
                    <div>
                    <span class="counter">1237</span>
                    <p class="text-secondary">Jobs Posted</p>
                </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-6 col-lg-3">
                <div class="counter-box d-flex me-4 mt-4">
                    <div>
                    <img class="mt-3" height="70" src="../assets/img/icon/icon-10.png">
                </div>
                <div class="border-end ms-4 me-4"></div>
                    <div>
                    <span class="counter">150</span>
                    <p class="text-secondary">Jobs Filled</p>
                </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-6 col-lg-3">
                <div class="counter-box d-flex me-4 mt-4">
                    <div>
                    <img class="mt-3 " height="70" src="../assets/img/icon/icon-11.png">
                </div>
                <div class="border-end ms-4 me-4"></div>
                    <div>
                    <span class="counter">220</span>
                    <p class="text-secondary">Companies</p>
                </div>
                </div>
            </div>
            <div class=" col-sm-6 col-md-6 col-lg-3">
                <div class="counter-box d-flex mt-4">
                    <div>
                    <img class="mt-3" height="70" src="../assets/img/icon/icon-25.png">
                </div>
                <div class="border-end ms-4 me-4"></div>
                    <div>
                    <span class="counter">2250</span>
                    <p class="text-secondary">Candidates</p>
                </div>
                </div>
            </div>
        </div>
      </div>
      <section class="service mt-5 mb-5 pt-5 pb-5">
      <div class="container pb-5">
        <h2 class="text-center text-dark">Our Best Services For You</h2>
        <p class="mb-4 mt-3 text-center text-secondary">Know your really worth and find the job that qualify your life.</p>
        <div class="row gx-4 gy-4 mt-3">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card py-2 px-3">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="service-img mb-4">
                            <img src="../assets/img/icon/icon-18.png">
                        </div>
                                <h5 class="text-dark mb-3">Online Interview</h5>
                                <p>If success is a process with a number of defined steps.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card py-2 px-3">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="service-img mb-4">
                            <img src="../assets/img/icon/icon-19.png">
                            </div>
                                <h5 class="text-dark mb-3">CV Search</h5>
                                <p>If success is a process with a number of defined steps.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card py-2 px-3">
                    <div class="card-body">
                        <div class="text-center">
                            <div class="service-img mb-4">
                            <img src="../assets/img/icon/icon-20.png">
                            </div>
                                <h5 class="text-dark mb-3">Display Jobs</h5>
                                <p>If success is a process with a number of defined steps.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <div class="container mt-5 pt-5 mb-5 pb-5" id="process">
        <h2 class="text-center text-dark">Our Working Process</h2>
        <p class="mb-4 mt-3 text-center text-secondary">Know your really worth and find the job that qualify your life.</p>
        <div class="row gx-4 gy-4">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="text-center mt-3">
                    <div class="number ">
                        <h4 class="text-white">01</h4>
                    </div>
                    <div class="text mt-4">
                        <h4 class="text-dark mb-3">Create Account</h4>
                        <p>Search all the open positions on the web that suits you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="text-center mt-3">
                    <div class="number ">
                        <h4 class="text-white">02</h4>
                    </div>
                    <div class="text mt-4">
                        <h4 class="text-dark mb-3">CV / Resume Upload</h4>
                        <p>Search all the open positions on the web that suits you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="text-center mt-3">
                    <div class="number ">
                        <h4 class="text-white">03</h4>
                    </div>
                    <div class="text mt-4">
                        <h4 class="text-dark mb-3">Find Your Job</h4>
                        <p>Search all the open positions on the web that suits you.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="text-center mt-3">
                    <div class="number1 ">
                        <h4 class="text-white">04</h4>
                    </div>
                    <div class="text mt-4">
                        <h4 class="text-dark mb-3">Apply Them</h4>
                        <p>Search all the open positions on the web that suits you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <section class="process mt-5 mb-5 pb-5 pt-5">
        <div class="container pb-2">
            <div class="row pt-5 pb-5">
                <div class=" col-sm-8 col-md-10 col-lg-5">
                    <div class="card py-2 px-3 mt-5">
                        <div class="card-body">
                            <h3 class="text-dark mb-4 mt-3">Find Talent From The Featured Ones For Your Dream Job</h3>
                            <p class="mb-4">Just due to the fact you don’t recognise what profession you need doesn’t imply you don’t recognise 
                                what you’re right at. A first rate manner to attention to your capabilities is to make a listing of your strengths.
                            </p>
                            <a href="" class="btn text-white mb-2">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <div class="container mt-5 pt-5 mb-5 pb-5">
        <h2 class="text-center text-dark">What Our Client Says</h2>
        <p class="mb-5 mt-3 text-center text-secondary">Know your really worth and find the job that qualify your life.</p>
        <div id="client-owl" class="owl-carousel owl-theme mt-2">
            <div class="item">
                <div class="card py-1 px-3">
                    <div class="card-body">
                        <div class="border-bottom mb-4">
                        <i class="bi bi-quote fa-3x"></i>
                        <p class="mt-2 mb-4 text-secondary">Wow what great service, I love it! You guys rock! I am completely blown away. Jobboard is exactly 
                            what our business has been lacking. Thank you.</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-4">
                                <img class="rounded-circle" src="../assets/img/avatar/avatar-01.jpg">
                            </div>
                            <div class="text-start mt-2">
                                <h5 class="text-success fw-bold mb-1">Eva Kleist</h5>
                                <p class="text-secondary">Senior Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card py-1 px-3">
                    <div class="card-body">
                        <div class="border-bottom mb-4">
                        <i class="bi bi-quote fa-3x"></i>
                        <p class="mt-2 mb-4 text-secondary">I would gladly pay over 600 dollars for jobboard. Jobboard is worth much more than I paid. The best
                             on the net! I wish I would have thought of it first.</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-4">
                                <img class="rounded-circle" src="../assets/img/avatar/avatar-02.jpg">
                            </div>
                            <div class="text-start mt-2">
                                <h5 class="text-success fw-bold mb-1">Marko Konig</h5>
                                <p class="text-secondary">Web Designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card py-1 px-3">
                    <div class="card-body">
                        <div class="border-bottom mb-4">
                        <i class="bi bi-quote fa-3x"></i>
                        <p class="mt-2 mb-4 text-secondary">I have gotten at least 50 times the value from jobboard. I didn't even need training. Thanks to
                             jobboard, we have just launched our 5th website!</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-4">
                                <img class="rounded-circle" src="../assets/img/avatar/avatar-03.jpg">
                            </div>
                            <div class="text-start mt-2">
                                <h5 class="text-success fw-bold mb-1">Rosa Olsen</h5>
                                <p class="text-secondary">Apps Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card py-1 px-3">
                    <div class="card-body">
                        <div class="border-bottom mb-4">
                        <i class="bi bi-quote fa-3x"></i>
                        <p class="mt-2 mb-4 text-secondary">Since I invested in jobboard I made over 100,000 dollars profits. No matter where you go, jobboard
                             is the coolest, most happening thing around!</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-4">
                                <img class="rounded-circle" height="70px" width="70px" src="../assets/img/avatar/avatar-11.jpg">
                            </div>
                            <div class="text-start mt-2">
                                <h5 class="text-success fw-bold mb-1">Eshan Marshall</h5>
                                <p class="text-secondary">Business Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card py-1 px-3">
                    <div class="card-body">
                        <div class="border-bottom mb-4">
                        <i class="bi bi-quote fa-3x"></i>
                        <p class="mt-2 mb-4 text-secondary">I like jobboard more and more each day because it makes my life a lot easier. Thank you for making
                             it painless, pleasant and most of all hassle free!</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-4">
                                <img class="rounded-circle" src="../assets/img/avatar/avatar-05.jpg">
                            </div>
                            <div class="text-start mt-2">
                                <h5 class="text-success fw-bold mb-1">Jessika Brandt</h5>
                                <p class="text-secondary">IT Specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card py-1 px-3">
                    <div class="card-body">
                        <div class="border-bottom mb-4">
                        <i class="bi bi-quote fa-3x"></i>
                        <p class="mt-2 mb-4 text-secondary">Thanks for the great service. I strongly recommend jobboard to everyone interested in running a 
                            successful online business! It's all good.</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-4">
                                <img class="rounded-circle" src="../assets/img/avatar/avatar-06.jpg">
                            </div>
                            <div class="text-start mt-2">
                                <h5 class="text-success fw-bold mb-1">Iwo Maciejewski</h5>
                                <p class="text-secondary">Digital Marketer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <section class=" mt-5 mb-5 pt-5 pb-5" id="package">
        <div class="container mt-5 mb-5">
          <h2 class="text-dark text-center text-uppercase mb-3">Choose Your Plans</h2>
          <p class="text-secondary text-center pb-5">Know your really worth and find the job that qualify your life.</p>
          <div class="row gx-4 gy-4">
              <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="card bg-white py-4 px-4">
                      <div class="card-body ">
                          <div class="text-center py-2 px-2">
                              <h4 class="text-dark fw-bold mb-3">Basic Package</h4>
                              <p class="text-secondary pb-4">All Inclusive Package</p>
                             <span class="text-success mt-4 pb-4"><span>$</span> <span class="h1 fw-bold">99</span>  /Month</span>
                             <ul class=" list-unstyled mt-4">
                              <li class="mb-3 mt-4"> <span><i class="bi bi-check2 fs-5 me-3"></i>20 Job Post Monthly</span></li>
                              <li class="mb-3"> <span><i class="bi bi-check2 fs-5 me-3"></i>Professional Trainings</span></li>
                              <li class="mb-3"><span><i class="bi bi-check2 fs-5 me-3"></i>Technical SEO audit</span></li>
                              <li class="mb-4"> <span><i class="bi bi-check2 fs-5 me-3"></i>24x7 Email Support</span></li>
                          </ul>
                          <a href="" class="btn text-white">Choose Plan</a>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="card bg-white py-4 px-4">
                      <div class="card-body">
                          <div class="text-center py-2 px-2">
                              <h4 class="text-dark fw-bold mb-3">Premium Package</h4>
                              <p class="text-secondary pb-4">All Inclusive Package</p>
                             <span class="text-success mt-4 mb-4"><span>$</span> <span class="h1 fw-bold">199</span>  /Month</span>
                             <ul class=" list-unstyled mt-4 mb-4">
                              <li class="mb-3 mt-4"> <span><i class="bi bi-check2 fs-5 me-3"></i>20 Job Post Monthly</span></li>
                              <li class="mb-3">  <span><i class="bi bi-check2 fs-5 me-3"></i>Professional Trainings</span></li>
                              <li class="mb-3"><span><i class="bi bi-check2 fs-5 me-3"></i>Technical SEO audit</span></li>
                              <li class="mb-4"> <span><i class="bi bi-check2 fs-5 me-3"></i>24x7 Email Support</span></li>
                          </ul>
                          <a href="" class="btn text-white">Choose Plan</a>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="card bg-white py-4 px-4">
                      <div class="card-body">
                          <div class="text-center py-2 px-2">
                              <h4 class="text-dark fw-bold mb-3">Professional Package</h4>
                              <p class="text-secondary pb-4">All Inclusive Package</p>
                             <span class="text-success mt-4 mb-4"><span>$</span> <span class="h1 fw-bold">299</span>  /Month</span>
                             <ul class=" list-unstyled mt-4">
                              <li class="mb-3 mt-4"> <span><i class="bi bi-check2 fs-5 me-3"></i>20 Job Post Monthly</span></li>
                              <li class="mb-3">  <span><i class="bi bi-check2 fs-5 me-3"></i>Professional Trainings</span></li>
                              <li class="mb-3"><span><i class="bi bi-check2 fs-5 me-3"></i>Technical SEO audit</span></li>
                              <li class="mb-4"> <span><i class="bi bi-check2 fs-5 me-3"></i>24x7 Email Support</span></li>
                          </ul>
                          <a href="" class="btn text-white">Choose Plan</a>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </section>
      <footer class=" footer bg-dark text-center text-white mt-5">
        <div class="container" id="fc1">
        <div class="row pt-5">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex" id="df3">
                    <div class="me-4"><a href=" " ><img id="fimg" src="../assets/img/logo/logo-white.png" width="250"></a> </div>
                    <div> <p class=" text-start">Create a free account to discover lots of Jobs &
                        Career Opportunities around you!</p></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="row" id="df4">
                    <div class="col-sm-12 col-md-4 col-lg-4" >
                            <div class="counter-box d-flex">
                                <img src="../assets/img/icon/icon-09.png" width="70px" height="70px">
                                <div class="ms-2 me-4">
                                <span class="counter text-white  mb-3">1237</span>
                                <p>Job Posted</p></div>
                            </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="counter-box d-flex">
                            <img src="../assets/img/icon/icon-10.png" width="70px" height="70px">
                            <div class="ms-3 me-4">
                            <span class="counter text-white  mb-3">150</span>
                            <p>Job Filled</p></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class=" counter-box d-flex ">
                        <img  src="../assets/img/icon/icon-11.png" width="70px" height="70px">
                        <div class=" text-start ms-3">
                            <span class="counter text-white mb-3">220</span>
                            <p>Companies</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <hr class="text-white mt-5">
          </div>
      </div>
      <div class="container pt-4 pb-4" id="fc2">
          <div class="row text-start">
              <div class="col-sm-7 col-md-6 col-lg-3">
                  <h5 class="fw-bold mt-4 mb-4">
                    Contact Us
              </h5>
              <p>Advertise your jobs to hundreds of thousands of monthly customers and 
                  seek 15.8 million CV in our database.</p>
                  <div class="d-flex mb-3 mt-4">
                      <i class="bi bi-house-door-fill fa-1x me-3"></i>
                      <a href="">66 Guild Street 512B, Great North Town.</a>
                  </div>
                  <div class="d-flex mb-3">
                      <i class="bi bi-telephone-fill fa-1x me-3"></i>
                      <a href="" class="link">(+44) 123 456 789</a>
                  </div>
                  <div class="d-flex ">
                      <i class="bi bi-envelope-fill fa-1x me-3"></i>
                      <a href="" class="link">info@example.com</a>
                  </div>
              </div>
              
              <div class="col-sm-5 col-md-6 col-lg-2">
                  <h5 class="fw-bold mt-4 mb-4" >
                     Information
               </h5>
              <p>
                  <a href=" " class="link">About us</a>
              </p>
              <p>
                  <a href=" " class="link">Blog</a>
              </p>
              <p>
                  <a href=" " class="link">Our Process</a>
              </p>
              <p>
                  <a href=" " class="link">Our Pricing</a>
              </p>
              <p>
                  <a href=" " class="link">Contact Us</a>
              </p>
              </div>

              <div class="col-sm-7 col-md-6 col-lg-2">
                  <h5 class="fw-bold mt-4 mb-4">
                    Candidates
               </h5>
               <p>
                  <a href=" " class="link">Applied Job</a>
              </p>
              <p>
                  <a href=" " class="link">CV Manager</a>
              </p>
              <p>
                  <a href=" " class="link">Shortlisted Job</a>
              </p>
              <p>
                  <a href=" " class="link">Job Alerts</a>
              </p>
              <p>
                  <a href=" " class="link">Dashboard</a>
              </p>
              </div>
              <div class="col-sm-5 col-md-6 col-lg-2">
                  <h5 class="fw-bold mt-4 mb-4">
                    Employers
                </h5>
                <p>
                  <a href=" " class="link">Job Packages</a>
              </p>
              <p>
                  <a href=" " class="link">Company Profile</a>
              </p>
              <p>
                  <a href=" " class="link">Manage Job</a>
              </p>
              <p>
                  <a href=" " class="link">Resume Alerts</a>
              </p>
              <p>
                  <a href=" " class="link">Post a Job</a>
              </p>
          </div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                  <h5 class="fw-bold mt-4 mb-4">
                    Join Newsletter
                </h5>
                <p class="pb-3">
                    Subscribe to get the latest jobs posted, candidates...
              </p>
              <div class="input-group mb-3 ">
                <input type="text" class="form-control2 " placeholder="Subscribe with us" aria-label="Subscribe with us"
                 aria-describedby="basic-addon2">
                <span class="input-group-text" id="basic-addon2"><i class="bi bi-send-fill text-success"></i></span>
              </div>
          </div>
          </div>
      </div>
      <hr class="hr ">
          <div class="container" id="board">
              <div class="d-flex justify-content-between">
                <div > <p class="mt-2 mb-4">© 2023 Job Board Powered by<a href="" class="ms-2">Chitrakoot Web</a></p> </div>
                <div class="mt-2 mb-4" >
                    <h6 class="text-white">Follow Us :
                    <a href="" class="ms-3 me-3"><i class="bi bi-facebook me-2"></i></a>
                    <a href="" class="me-3"><i class="bi bi-twitter me-2"></i></a>
                    <a href="" class="me-3"><i class="bi bi-youtube me-2"></i></a>
                    <a href=""><i class="bi bi-linkedin "></i></a></h6>
                  </a>
                </div>
              </div>
          </div>
        </section>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script>
          var owl = $('#nav-owl');
          owl.owlCarousel({
            items:1,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:1000,
            autoplayHoverPause:true
          });
var owl = $('#client-owl');
          owl.owlCarousel({
            items:2,
            loop:true,
            margin:30,
            autoplay:true,
            autoplayTimeout:5000,
            autoplayHoverPause:true,
            responsive:{
                0:{
            items:1
        },
        991:{
            items:1
        },
        1000:{
            items:2
        },
        1300:{
            items:3
        }
    }
          });

$('.counter').each(function () {
$(this).prop('Counter',0).animate({
    Counter: $(this).text()
}, {
    duration: 4000,
    easing: 'swing',
    step: function (now) {
        $(this).text(Math.ceil(now));
    }
});
});
      </script>
</body>
</html>