<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/contactUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <title>Contact Us</title>
</head>
<body>
    <div class="container-fluid bg-success">
        <div class="row  py-2 px-2 ms-4 me-4" id="cont1">
            <div class="col-sm-6 col-md-6 col-lg-10">
                <h7 class="text-white me-4">
                    <i class="bi bi-phone me-1"></i>
                    (+123) 456 7890
                </h7>
                <h7 class="text-white me-4" id="none">
                    <i class="bi bi-envelope-fill me-1"></i>
                    addyour@emailhere
                </h7>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2" id="icon1">
                <a href="" class="link"><i class="bi bi-facebook"></i></a>
                <a href="" class="link"><i class="bi bi-twitter me-3 ms-3"></i></a>
                <a href="" class="link"><i class="bi bi-instagram"></i></a>
                <a href="" class="link"><i class="bi bi-linkedin ms-3"></i></a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container-fluid ">
          <a class="navbar-brand" href="#"><img class="img-fluid" src="../assets/img/logo/logo.png" style="width: 200px;height: auto;"></a>
          <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
           aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        home<small><i class="bi bi-chevron-down ms-2" id="none"></i></small></a>

                    <ul class="dropdown-menu " id="near" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row  pt-4 pb-4" >
                            <div class="col-sm-2 col-md-2 col-lg-2 ">
                                <a href="">
                                <span class="header text-dark text-uppercase ms-2">home 01</span><br>
                                <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-01.jpg" width="100%" height="auto"></a>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 ">
                                    <a href="">
                                    <span class="header text-dark text-uppercase ms-2">home 02</span><br>
                                    <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-02.jpg" width="100%" height="auto"></a>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 ">
                                        <a href="">
                                        <span class="header text-dark text-uppercase ms-2">home 03</span><br>
                                        <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-03.jpg" width="100%" height="auto"></a>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2 ">
                                            <a href="">
                                            <span class="header text-dark text-uppercase ms-2">home 04</span><br>
                                            <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-04.jpg" width="100%" height="auto"></a>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2 ">
                                                <a href="">
                                                <span class="header text-dark text-uppercase ms-2">home 05</span><br>
                                                <img class="img-fluid mt-4" id="none" src="../assets/img/home/home-05.jpg" width="100%" height="auto"></a>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2 " id="none">
                                                    <a href="">
                                                    <span class="header text-dark text-uppercase ms-2">coming soon</span><br>
                                                    <img class="img-fluid mt-4" id="none" src="../assets/img/home/comingsoon.jpg" width="100%" height="auto"></a>
                                                    </div>
                                </div>
                </ul>
            </li>
            
              <li class="nav-item dropdown">
                <a class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                pages<small><i class="bi bi-chevron-down ms-2" id="none"></i></small>
                </a>
                <ul class="dropdown-menu pt-4 pb-4 pe-4 ps-2" id="page" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">About Us</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">How It Works</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">Testimonials</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">Pricing Plan</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">FAQ</a></li>
                    <li><a class="dropdown-item py-2 pe-5 me-5" href="#">Contact Us</a></li>
                    <li class="dropdown-submenu py-2 ps-3 ">
                        <a  href="#">User Pages</a>
                        <ul class="dropdown-menu py-4 px-2 pe-4 ">
                          <li><a class="dropdown-item pb-2" href="#">Login</a></li>
                          <li><a class="dropdown-item pb-2" href="#">Register</a></li>
                          <li><a class="dropdown-item pb-2" href="#">Forgot Password</a></li>
                        </ul>
                      </li>
                    <li class="dropdown-submenu py-2 ps-3 ">
                        <a href="#">Others</a>
                        <ul class="dropdown-menu py-4 px-2 pe-4 ">
                          <li><a class="dropdown-item pb-2" href="#">Privacy Policy</a></li>
                          <li><a class="dropdown-item pb-2" href="#">Term & Condition</a></li>
                          <li><a class="dropdown-item pb-2" href="#">Comming Soon</a></li>
                          <li><a class="dropdown-item pb-2" href="#">404 Error</a></li>
                        </ul>
                      </li>
                </ul>
                </li>
                <li class="nav-item ">
                    <a href="" class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" 
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        job listing<small><i class="bi bi-chevron-down ms-2" id="none"></i></small></a>
                    <ul class="dropdown-menu " id="list" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-lg-3">
                                <span class="header text-uppercase ms-3">
                                   job listing
                                </span>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 1 - Without Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 1 - Left Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 1 - Right Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 2 - Without Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 2 - Left Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Listing 2 - Right Sidebar</a>
                            </div>
                            <div class="col-lg-3 ">
                                <span class="header text-uppercase ms-3">
                                   job grid
                                </span>
                                <a href="" class="dropdown-item  mt-3 mb-3"> Job Grid 1 - Without Sidebar </a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 1 - Left Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 1 - Right Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 2 - Without Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 2 - Left Sidebar</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Grid 2 - Right Sidebar</a>
                            </div>
                            <div class="col-lg-3">
                                <span class="header text-uppercase ms-3">
                                  job details
                                </span>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Details 1</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Details 2</a>
                                <a href="" class="dropdown-item mt-3 mb-3">Job Details 3</a>
                            </div>
                            <div class="col-lg-3">
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <img src="../assets/img/slider/menu-slider1.jpg" width="350px" height="auto">
                                    </div>
                                    <div class="item">
                                        <img src="../assets/img/slider/menu-slider2.jpg" width="350px" height="auto">
                                    </div>
                                    <div class="item">
                                        <img src="../assets/img/slider/menu-slider3.jpg" width="350px" height="auto">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        explore<small><i class="bi bi-chevron-down ms-2" id="none"></i></small>
                        </a>
                        <ul class="dropdown-menu  pt-4 pb-4" aria-labelledby="navbarDropdownMenuLink">
                            <!-- <li><a class="dropdown-item pt-3 pb-3 me-5" href="#">Candidates<i class="bi bi-plus" id="right-icon"></i></a></li> -->
                            <li class="dropdown-submenu py-2 ps-3 pe-2">
                                <a href="#">Candidates</a>
                                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                                  <li><a class="dropdown-item pb-2 " href="#">Candidates Grid</a></li>
                                  <li><a class="dropdown-item pb-2" href="#">Candidates List</a></li>
                                  <li><a class="dropdown-item pb-2" href="#">Candidates Details</a></li>
                                  <li><a class="dropdown-item pb-2" href="#">Candidates Dashboard</a></li>
                                </ul>
                              </li>
                            <!-- <li><a class="dropdown-item  pb-3 me-5" href="#">Employers<i class="bi bi-plus" id="right-icon"></i></a></li> -->
                            <li class="dropdown-submenu py-2 ps-3 pe-2">
                                <a href="#">Employers</a>
                                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                                    <li><a class="dropdown-item pb-2 " href="#">Employers Grid</a></li>
                                    <li><a class="dropdown-item pb-2" href="#">Employers List</a></li>
                                    <li><a class="dropdown-item pb-2" href="#">Employers Details</a></li>
                                    <li><a class="dropdown-item pb-2" href="#">Employers Dashboard</a></li>
                                </ul>
                              </li>
                        </ul>
                    </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        elements<small><i class="bi bi-chevron-down ms-2" id="none"></i></small></a>
                    <ul class="dropdown-menu" id="element" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row  pt-4 pb-4 pe-4 ms-5">
                            <div class="col-sm-12 col-md-3 col-lg-3 ">
                                <span class="header text-dark text-uppercase ms-2">elements 01</span>
                                <a href="" class="dropdown-item py-2 px-2 mt-3"><i class="bi bi-sliders me-2"></i> Accordian</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-bell me-2"></i>Alerts</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-exclude me-2"></i>Blockquote</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-link-45deg me-2"></i>Buttons</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-square me-2"></i>Call to Action</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-image me-2"></i>Carousel Slider</a>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <span class="header text-dark text-uppercase ms-2">elements 02</span>
                                <a href="" class="dropdown-item py-2 px-2 mt-3"><i class="bi bi-flag me-2"></i>Count Down</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-lightning-charge-fill me-2"></i>Counters</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-badge-cc me-2"></i>Dropcaps</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-boxes me-2"></i>Form Elements</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-check-square me-2"></i>Font Icons</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-thermometer-high me-2"></i>Highlights</a>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <span class="header text-dark text-uppercase ms-3">elements 03</span>
                                <a href="" class="dropdown-item py-2 px-2 mt-3"><i class="bi bi-arrows-move me-2"></i>Header Style 01</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-arrows-fullscreen me-2"></i>Header Style 02</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-file-font me-2"></i>Icons With Text</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-list-ul me-2"></i>List Styles</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-film me-2"></i>Media Object</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-bell me-2"></i>Modal</a>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <span class="header text-dark text-uppercase ms-3">elements 04</span>
                                <a href="" class="dropdown-item py-2 px-2 mt-3"><i class="bi bi-caret-right-square me-2"></i>Pagination</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-list-check me-2"></i>Progress Bars</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-table me-2"></i>Tables</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-font me-2"></i>Tabs</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-fonts me-2"></i>Typography</a>
                                <a href="" class="dropdown-item py-2 px-2"><i class="bi bi-camera-video-fill me-2"></i>Videos</a>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark text-uppercase py-2 px-2 ms-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    blog<small><i class="bi bi-chevron-down ms-2" id="none"></i></small>
                    </a>
                    <ul class="dropdown-menu pt-4 pb-4" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item pt-3 pb-3 me-5" href="#">Blog Grid</a></li>
                        <li><a class="dropdown-item pt-3 pb-3 me-5" href="#">Blog List</a></li>
                        <li><a class="dropdown-item pt-3 pb-3 me-5" href="#">Blog Details</a></li>
                    </ul>
                </li>
            </ul>
          </div>
          <a href="" class="link text-dark py-2 px-2 me-4"><i class="bi bi-search" id="icon2"></i></a>
          <a href="" class="btn btn-lg btn-block text-white  me-4 pe-4 ps-4 pt-2 pb-2" id="btn1">Post a Job</a>
        </div>
      </nav>
      <div class="container-fluid pt-4 pb-4 mt-4 mb-4" id="faq">
        <div class="text-center pt-4 pb-4">
            <h1 class=" fw-bold text-dark mb-4 mt-4">Contact Us</h1>
           <div class="row pb-4">
            <div class="col-sm-4 col-md- 4 col-lg-12 ">
                <div class="card">
                    <!-- <div class="card-body"> -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb text-center ms-5">
                              <li class="breadcrumb-item ms-4 ps-4 "><a href="#" id="breadcrumb">Home</a></li>
                              <li class="breadcrumb-item active text-success" aria-current="page">Contact Us</li>
                            </ol>
                          </nav>
                    <!-- </div> -->
                </div>
            </div>
           </div>
        </div>
      </div>
      <div class="container pt-4 mt-4 pb-4 mb-4" id="come">
        <div class="text-center mt-4 ">
            <h2 class="text-dark">Come To Our Office</h2>
            <p class="text-secondary">Know your really worth and find the job that qualify your life.</p>
        </div>
        <div class="row" id="wood">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card py-2 px-2 mt-4">
                    <div class="card-body py-4 px-4">
                        <div class="text-center">
                            <h4 class="text-dark">England Office</h4>
                            <div class="office"></div>
                            <h6 class="text-secondary mb-3 mt-3">47 Wood Circle, New York-32401</h6>
                            <h6 class="text-secondary mb-3">support@youremail</h6>
                            <h6 class="text-secondary "> (+44) 180-024-500</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card py-2 px-2 mt-4">
                    <div class="card-body py-4 px-4">
                        <div class="text-center">
                            <h4 class="text-dark">USA Office</h4>
                            <div class="office"></div>
                            <h6 class="text-secondary mb-3 mt-3">29 Queens Street, Boston-00387</h6>
                            <h6 class="text-secondary mb-3">info@example.com</h6>
                            <h6 class="text-secondary"> (+44) 123-456-789</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card py-2 px-2 mt-4">
                    <div class="card-body py-4 px-4">
                        <div class="text-center">
                            <h4 class="text-dark">Germany Office</h4>
                            <div class="office"></div>
                            <h6 class="text-secondary mb-3 mt-3">32 Wales Street, Dresden-01462</h6>
                            <h6 class="text-secondary mb-3">info@domain.com</h6>
                            <h6 class="text-secondary">(+44) 152-567-987</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="container-fluid pt-5 mt-4 pb-5 mb-4">
        <div class="map-area">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.47340138938!2d-0.24168153443090962!3d51.528558241258565!
            2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2sin!4v1680
            762977240!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when
            -downgrade"></iframe>
        </div>
      </div>
      <div class="container">
        <div class="row" id="contact">
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="card py-4 px-4 mt-4">
                    <div class="card-body py-4 px-4">
                        <h4 class="text-center text-dark mb-4">Contact With US</h4>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="mb-4">
                                    <label for="exampleFormControlInput1" class="form-label">Your Name
                                        <span class="text-danger fs-6">*</span></label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your name here">
                                  </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="mb-4">
                                    <label for="exampleFormControlInput1" class="form-label">Your Email
                                        <span class="text-danger fs-6">*</span></label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email here">
                                  </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="mb-4">
                                    <label for="exampleFormControlInput1" class="form-label">Your Subject
                                        <span class="text-danger fs-6">*</span></label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your subject here">
                                  </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="mb-4">
                                    <label for="exampleFormControlInput1" class="form-label">Contact Number</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your phone here">
                                  </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message
                                <span class="text-danger fs-6">*</span></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell us a few words"></textarea>
                          </div>
                          <img src="../assets/img/logo/courier-new-light.png">
                          <input type="email" class="form-control mb-4 mt-2" id="exampleFormControlInput1" placeholder="Type the below words">
                          <a href="" class="btn btn-block btn-lg text-white mt-4" id="formbtn">Send Message</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="card py-4 px-4 mt-4">
                    <div class="card-body py-4 px-4">
                        <h4 class="text-center fw-bold text-dark mb-4">Our Contact Detail</h4>
                        <p class="text-secondary mb-4">Write as some words about your question and we will put together your question 
                            for you inside 24 hours and tell you shortly.</p> 
                            <div class="d-flex mt-4">
                                <i class="bi bi-telephone-fill fs-2 text-success"></i>
                                <div class="text ms-4">
                                    <h5 class="text-dark mb-2">Phone Number</h5>
                                    <p class="text-secondary mb-2">(+44) 123 456 789</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex mt-4">
                                <i class="bi bi-envelope fs-2 text-success"></i>
                                <div class="text ms-4">
                                    <h5 class="text-dark mb-2">Email Address</h5>
                                    <h6 class="text-secondary mb-2">info@example.com</h6>
                                    <h6 class="text-secondary mb-2">info@domain.com</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex mt-4">
                                <i class="bi bi-geo-alt-fill fs-2 text-success"></i>
                                <div class="text ms-4">
                                    <h5 class="text-dark mb-2">Location</h5>
                                    <h6 class="text-secondary mb-2">66 Guild Street 512B, Great North Town.</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="btn-group mt-3">
                                <a href="" class="btn rounded-pill text-white me-3"><i class="bi bi-facebook"></i></a>
                                <a href="" class="btn rounded-pill text-white me-3"><i class="bi bi-twitter"></i></a>
                                <a href="" class="btn rounded-pill text-white me-3"><i class="bi bi-youtube"></i></a>
                                <a href="" class="btn rounded-pill text-white me-3"><i class="bi bi-linkedin"></i></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
<footer class="footer bg-dark text-center mt-5">
    <div class="container-fluid pt-4">
        <div class="row py-4 px-4" id="frow">
          <div class="col-sm-12 col-md-3 col-lg-3" id="white">
              <a href=" " class="link"><img class=" py-4 px-4  mt-2" id="feet" src="../assets/img/logo/logo-white.png" width="300"></a> 
          </div>
          <div class="col-sm-12 col-md-3 col-lg-3" id="white1">
              <p class=" text-start text-white py-4 px-4 mt-2 ms-4 ">Create a free account to discover lots of Jobs & Career Opportunities around you!</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="row"id="f3">
                  <div class="col-sm-12 col-md-4 col-lg-4 py-4 px-4" >
                      <div class="d-flex  ">
                          <img id="f2" src="../assets/img/logo/icon-09.png" width="70px" height="70px">
                          <div class=" text-start text-white ms-3 me-5">
                              <h1>1237</h1>
                              <p>Job Posted</p>
                          </div></div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 py-4 px-4">
                      <div class="d-flex ">
                      <img src="../assets/img/logo/icon-10.png" width="70px" height="70px">
                      <div class=" text-start text-white ms-3 me-4">
                          <h1>150</h1>
                          <p>Job Filled</p>
                      </div>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-4 col-lg-4 py-4 px-4">
                      <div class="d-flex">
                      <img  src="../assets/img/logo/icon-11.png" width="70px" height="70px">
                      <div class=" text-start text-white ms-3">
                          <h1>220</h1>
                          <p>Companies</p>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          <hr class="hr me-5 ms-5 mt-5 mb-4 text-white">
        </div>
      </div>
        <div class="container pt-4 pb-4" id="f4">
            <div class="row text-start">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <h5 class="fw-bold mt-4 text-white">
                       Contact Us
                </h5>
                <p class="text-white mb-4">Advertise your jobs to hundreds of thousands of monthly customers and
                    seek 15.8 million CV in our database.</p>
                    <div class="d-flex mb-4 ">
                        <i class="bi bi-house-door-fill fa-1x me-3  text-white"></i>
                       <a href="" class="link">66 Guild Street 512B, Great North Town.</a> 
                    </div>
                    <div class="d-flex mb-4">
                        <i class="bi bi-telephone-fill fa-1x me-3 text-white"></i>
                        <a href="" class="link">+91 7715800004</a>
                    </div>
                    <div class="d-flex ">
                        <i class="bi bi-envelope-fill fa-1x me-3 text-white"></i>
                        <a href="" class="link">info@rozgarkhoj.com</a>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <h5 class="fw-bold mt-4 text-white" >
                       Employer
                 </h5>
                <p>
                    <a href=" " class="link">Job Packages</a>
                </p>
                <p>
                    <a href=" " class="link">Company Profile</a>
                </p>
                <p>
                    <a href=" " class="link">Manage Job</a>
                </p>
                <p>
                    <a href=" " class="link">Resume Alerts</a>
                </p>
                <p>
                    <a href=" " class="link">Post a Job</a>
                </p>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2">
                    <h5 class="fw-bold mt-4 text-white">
                       Jobseeker
                 </h5>
                 <p>
                    <a href=" " class="link">Applied Job</a>
                </p>
                <p>
                    <a href=" " class="link">CV Manager</a>
                </p>
                <p>
                    <a href=" " class="link">Shortlisted Job</a>
                </p>
                <p>
                    <a href=" " class="link">Job Alerts</a>
                </p>
                <p>
                    <a href=" " class="link">Dashboard</a>
                </p>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <h5 class="fw-bold mt-4 text-white">
                       Browse Job
                  </h5>
                  <p>
                    <a href=" " class="link">Jobs by Category</a>
                </p>
                <p>
                    <a href=" " class="link">Jobs by Skills</a>
                </p>
                <p>
                    <a href=" " class="link">Jobs by Role</a>
                </p>
                <p>
                    <a href=" " class="link">Jobs by Cities</a>
                </p>
                <p>
                    <a href=" " class="link">Jobs by Industry</a>
                </p>
                <p>
                    <a href=" " class="link">Gulf Jobs</a>
                </p>
                <p>
                    <a href=" " class="link">Blog</a>
                </p>
            </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <h5 class="fw-bold mt-4 text-white">
                        Information
                  </h5>
                  <p>
                    <a href=" " class="link">About us</a>
                </p>
                <p>
                    <a href=" " class="link">Blog</a>
                </p>
                <p>
                    <a href=" " class="link">Our Process</a>
                </p>
                <p>
                    <a href=" " class="link">Our Pricing</a>
                </p>
                <p>
                    <a href=" " class="link">Contact Us</a>
                </p>
            </div>
            </div>
        </div>
       
        <!-- </div> -->
        <hr class="text-white">
            <div class="container" >
                <div class="row py-2 px-2 text-white"id="f5" >
                    <div class="col-sm-6 col-md-6 col-lg-9 text-start" id="text">
                        <p>© 2023 Job Board Powered by<a href="" class="link  ms-2"id="web">Chitrakoot Web</a></p> 
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <h7>Follow Us On :</h7>
                        <a href="" >
                          <i class="bi bi-facebook me-4 ms-3"></i></a>
                          <a href="">
                          <i class="bi bi-twitter me-4"></i></a>
                          <a href="" >
                          <i class="bi bi-youtube me-4"></i></a>
                          <a href="">
                          <i class="bi bi-linkedin "></i></a>
                        </a>
                    </div>
                </div>
            </div>
          </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
          items:1,
          loop:true,
          margin:10,
          autoplay:true,
          autoplayTimeout:1000,
          autoplayHoverPause:true
        });
    </script>
    </body>
    </html>