:root{
  --font-13:13px;
  --font-14:14px;
  --font-15:15px;
  --font-16:16px;
  --font-17:17px;
  --font-18:18px;
  --font-400:400;
  --font-500:500;
  --font-600:600;
  --font-700:700;
}
#category, .s2, #review, #latest, .s4{
  margin-top: 85px;
}
.owl-carousel .bi{
  font-size: 50px;
  color: #d9e0e4;
}
a{
    text-decoration: none;
}
p{
  font-size: var(--font-17);
}
h2, h2 span{
  font-size: 32px !important;
  font-weight: var(--font-700) !important;
}
.navbar .dropdown-menu li{
  padding: 14px 20px 14px 10px;
  border-bottom: 1px solid rgb(226, 221, 221);
}
.navbar .dropdown-submenu a{
  padding: 14px 20px 14px 10px;
}
.navbar .nav-item ul{
  padding: var(--font-15);
  box-shadow: 0px 0px 42px 0px rgba(32, 32, 32, 0.15);
}
.navbar-brand img{
  width: 170px;
  margin-right: 30px;
}
.navbar-light .navbar-nav .nav-link{
  color: black;
  font-size: var(--font-14);
  font-weight: var(--font-500);
}
.navbar-light .navbar-nav .nav-link .bi{
  font-size: 12px;
  font-weight: var(--font-500);
}
.navbar-light .navbar-nav .nav-link:hover{
  color: rgb(46, 165, 46);
}
.navbar .dropdown-item, .navbar .dropdown-submenu a{
  color: rgb(97, 91, 91);
}
.navbar .dropdown-item:hover, .navbar .dropdown-submenu a:hover{
  color: rgb(46, 165, 46);
  margin-left: 2px;
  transition: 0.2s;
}
.navbar .justify-content-end a{
  color: black;
  font-size:var(--font-14);
  font-weight:  var(--font-500);
}
.navbar .justify-content-end a:hover{
  color: green;
}
.navbar .justify-content-end .btn{
  font-size: var(--font-14);
  font-weight:  var(--font-500);
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-submenu::after{
    content: ">";
    color: gray;
    float: right;
    cursor: pointer;
}
.dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu .dropdown-menu {
    left: 105%;
    top: -6px;
  }
  .dropdown-submenu:hover .dropdown-menu, .dropdown-submenu  a:focus + .dropdown-menu {
    display: block;
  }
  .dropdown-menu{
    border: 0;
    padding: 20px;
  }
.dropdown-item:hover{
    background: none !important;
    color: #1967d2;
}
.dropdown-submenu .dropdown-item{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
}
.dropdown-submenu .dropdown-item:hover{
    color: #1967d2;
}
.s1{
    background: #eff6f2 url(../img/c/banner-6.png);
    background-repeat: no-repeat;
    min-height: 780px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-size: cover !important;
    background-position: center !important;
}
.s1 h1{
  font-weight:var(--font-700);
  font-size: 60px;
  margin-right: 40%;
}
.s1 p{
  font-weight: var(--font-400);
  line-height: 1.9;
  font-size: 16.5px;
  margin-right: 30%;
}
.s1 .form-control{
  padding: 10px 15px;
  border: none;
  height: 60px;
  font-size: var(--font-18);
  font-weight: var(--font-400);
}
.s1 .btn{
 padding: 10px;
 align-items: center;
 justify-content: center;
 display: flex;
 height: 60px;
 font-size: var(--font-17);
  font-weight: var(--font-400);
}
.s1 form{
  border-radius: 8px;
}
#category .card{
  border-radius: 8px;
}
 #category .card .lni{
  background-color: rgba(40, 182, 97,0.11);
  border-radius: 50%;
  padding: 16px 18px;
  font-size: 20px;
}
#category h6{
  font-weight: var(--font-500);
  font-size: var(--font-17);
}
#category span{
  font-size: var(--font-16);
  font-weight:var(--font-400);
}
#tbtn .btn{
padding: 14px 30px;
background-color: black;
}
#tbtn .btn:hover{
  background-color: green;
}
.s2 .card{
  border: none;
  border-radius: 8px;
}
.s2{
  background-color: #eef7f8;
  padding: 70px 0px;
}
.s2 .card .btn{
  border: 1px solid rgb(206, 200, 200);
  border-radius: 50%;
  padding: 6px 10px;
}
.s2 .badge{
  font-size: var(--font-14);
  font-weight:var(--font-400);
}
.s2 #full .badge{
  background-color: rgba(40, 182, 97,0.11);
}
.s2 #part .badge{
  background-color: #fff8ec;
}
.s2 #contract .badge{
  background-color: #eeebff;
}
.s2 #entern .badge{
  background-color: #ffeced;
}
.s2 h6{
  font-size:var(--font-16);
}
.s2 span{
  font-size: var(--font-15);
}
#tebtn .btn{
  padding: 14px 32px;
}
.s3 .card{
  border-radius: 8px;
}
.s3{
  background-color: #17b67c;
  background: url(../img/c/curve.svg);
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover !important;
  padding: 80px 0 80px;
  position: relative;
}
.owl-carousel  .owl-item img{
  width: 100px !important;
  margin: auto;
}
#latest .card{
  border: none;
  box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
  border-radius: 10px;
}
#latest img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#latest .badge{
  font-size: var(--font-14);
  font-weight: var(--font-500);
  background-color: rgba(3, 185, 124,0.1);
}
#latest a{
  font-size: var(--font-16);
  font-weight: var(--font-600);
}
#latest p{
  font-size: var(--font-15);
  line-height: 1.8;
}
#latest .d-flex span{
  font-size: var(--font-14);
}
hr:not([size]) {
  height: 0.5px !important;
}
.owl-theme .owl-dots .owl-dot span {
  display: none !important;
}
.s4{
  background-color: #17b67c;
  background: url(../img/c/landing-bg.png);
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover !important;
  padding: 80px 0 80px;
    position: relative;
}
.s4 .form-control{
  background-image: url(../img/team/briefcase.svg);
  background-repeat: no-repeat;
  background-position: left 17px center;
  padding: 15px 15px 15px 60px;
 border-radius: 12px;
}
.s4 .input-group{
  width: 60%;
  margin: auto;
}
.s4 .input-group .btn{
  padding: 10px 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60px;
    font-size: var(--font-17);
    font-weight: var(--font-400);
    width: 30%;
}
.footer h6{
  font-size: var(--font-16);
  font-weight: var(--font-500);
}
.footer p, .footer span{
  font-size: var(--font-15);
}
.fcol-1{
  width: 32%;
}
.fcol-1 p{
  margin-right: 60px;
}
.fcol-2{
  width: 17%;
}
.fcol-2 a{
  color: #6c757d;
}
.fcol-2 a:hover{
  color: white;
}
.s1 .badge{
  background-color:rgba(40, 182, 97,0.11);
  font-size: var(--font-14);
  font-weight: 400;
}
.owl-carousel{
  width: 75% !important;
  align-items: center !important;
  justify-content: center !important;
  margin: auto;
}


@media only screen and (min-width:200px) and (max-width:567px){
  .navbar-brand img{
    width: 100px;
  }
  .navbar-toggler{
    float: left;
  }
  .nav-link .bi{
    float: right !important;
  }
  .navbar .justify-content-end{
    display: none;
  }
  .top{
    display: none;
  }
  .s1 h1 {
    font-weight:var(--font-700);
    font-size: 30px;
    margin-right: 0px !important;
}
.s1 p {
  font-size: var(--font-14);
  margin-right: 0px !important;
}
.s1 .form-control, .s1 .btn {
  font-size: var(--font-15);
}
#category h6 {
  font-size: var(--font-14);
}
#category span {
  font-size: var(--font-13);
}
.s2 .badge {
  font-size: var(--font-13);
}
.s2 span {
  font-size: var(--font-14);
}
.owl-carousel p, .owl-carousel span{
  font-size: var(--font-13);
}
.owl-carousel h4{
  font-size: 21px;
  font-weight: var(--font-400);
}
#latest p, #latest .d-flex span{
  font-size: var(--font-14);
}
#latest .badge {
  font-size: var(--font-13);
}
.s4 .input-group{
  width: 100%;
}
.fcol-1, .fcol-2{
  width: 100%;
}
.footer p, .footer span{
  font-size: var(--font-14);
}
}
@media only screen and (min-width:568px) and (max-width:992px){
  .navbar-toggler{
    margin-left: 300px;
  }
  .top{
    display: none;
  }
  .s1 h1 {
    font-weight: 700;
    font-size: 38px;
    margin-right: 45% !important;
}
.s1 p {
  font-size: var(--font-14);
  margin-right: 0px !important;
}
.s1 .form-control, .s1 .btn {
  font-size:var(--font-15);
}
#category h6 {
  font-size:var(--font-15);
}
#category span {
  font-size: var(--font-14);
}
.s2 .badge, .s2 span {
  font-size:var(--font-13);
}
.owl-carousel p, .owl-carousel span{
  font-size: var(--font-13);
}
.owl-carousel h4{
  font-size: 21px;
  font-weight: var(--font-400);
}
#latest p, #latest .d-flex span{
  font-size: var(--font-14);
}
#latest .badge {
  font-size:var(--font-13);
}
.s4 .input-group{
  width: 100%;
}
.fcol-1, .fcol-2{
  width: 50%;
}
.footer p, .footer span{
  font-size: var(--font-14);
}
}
@media only screen and (min-width:993px) and (max-width:1200px){
  .s1 h1 {
    font-weight:var(--font-700);
    font-size: 50px;
    margin-right: 35% !important;
}
.s1 p {
  font-size: var(--font-15);
  margin-right: 0px !important;
}
.s1 .form-control, .s1 .btn {
  font-size: var(--font-15);
}
#caterogy .col-lg-2{
  width: 25%;
}
.s2 .badge {
  font-size:var(--font-13);
}
.s2 span {
  font-size: var(--font-14);
}
.owl-carousel p, .owl-carousel span{
  font-size:var(--font-14);
}
.owl-carousel h4{
  font-size: 21px;
  font-weight: var(--font-400);
}
}