<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/profile.css">
    <link rel="stylesheet" href="../assets/css/superio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>My Profile</title>
</head>
<body>
    <div class="container-fluid bg-dark py-4" id="buy">
        <a href="" ><img width="160px" src="../assets/img/logo/envato-market.svg"></a>
        <div class=" float-end"> <a href="" class="btn  text-white">Buy Now</a></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container-fluid pe-4"> 
          <a class="navbar-brand" href="#"><img src="../assets/img/image/logo.svg"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item text-secondary me-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                      Home<i class="bi bi-chevron-down ms-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listing">
                        <div class="row py-4 px-4">
                            <div class="col-lg-3"> 
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 01</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 02</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 03</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 04</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 05</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3"> 
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 06</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 07</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 08</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 09</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 10</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3"> 
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 11</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 12</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 13</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 14</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 15</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3"> 
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 16</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 17</a></li>
                                </ul>
                            </div>
                        </div>
                      </ul>
            </li>
            <li class="nav-item text-secondary me-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                  Find Jobs<i class="bi bi-chevron-down ms-2"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listing">
                    <div class="row py-4 px-4">
                        <div class="col-lg-3">
                            <h6 class="text-dark mb-4 fw-bold">Jobs Listing</h6> 
                            <ul class="list-unstyled">
                                <li><a class="dropdown-item mb-3" href="#">Job List V1</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V2</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V3</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V4</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V5</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3"> 
                            <h6 class="text-dark mb-4 fw-bold">Jobs Listing</h6> 
                            <ul class="list-unstyled">
                                <li><a class="dropdown-item mb-3" href="#">Job List V6</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V7</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V8</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V9</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V10</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h6 class="text-dark mb-4 fw-bold">Jobs Listing</h6>  
                            <ul class="list-unstyled">
                                <li><a class="dropdown-item mb-3" href="#">Job List V11</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V12</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V13</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V14</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V15</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3"> 
                            <h6 class="text-dark mb-4 fw-bold">Jobs Single</h6> 
                            <ul class="list-unstyled">
                                <li><a class="dropdown-item mb-3" href="#">Jobs Single V1</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job Single V2</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job Single V3</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job Single V4</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job Single V5</a></li>
                            </ul>
                        </div>
                    </div>
                  </ul>
        </li>
        <li class="nav-item text-secondary dropdown me-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
              Employers <i class="bi bi-chevron-down ms-2"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-submenu">
                    <a href="#">Employers List</a>
                    <ul class="dropdown-menu py-4 px-2 pe-4 ">
                      <li><a class="dropdown-item" href="#">Employers List V1</a></li>
                      <li><a class="dropdown-item" href="#">Employers List V2</a></li>
                      <li><a class="dropdown-item" href="#">Employers List V3</a></li>
                      <li><a class="dropdown-item" href="#">Employers List V4</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#">Employers Single</a>
                    <ul class="dropdown-menu py-4 px-2 pe-4 ">
                      <li><a class="dropdown-item" href="#">Employers Single V1</a></li>
                      <li><a class="dropdown-item" href="#">Employers Single V2</a></li>
                      <li><a class="dropdown-item" href="#">Employers Single V3</a></li>
                      <li><a class="dropdown-item" href="#">Employers Single V4</a></li>
                    </ul>
                  </li>
                <li><a class="dropdown-item mb-3" href="#">Employers Dashboard</a></li>
              </ul>
    </li>
    <li class="nav-item text-secondary dropdown me-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
         aria-expanded="false">
         Candidates <i class="bi bi-chevron-down ms-2"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu">
                <a href="#">Candidates List</a>
                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                  <li><a class="dropdown-item" href="#">Candidates List V1</a></li>
                  <li><a class="dropdown-item" href="#">Candidates List V2</a></li>
                  <li><a class="dropdown-item" href="#">Candidates List V3</a></li>
                  <li><a class="dropdown-item" href="#">Candidates List V4</a></li>
                  <li><a class="dropdown-item" href="#">Candidates List V5</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Candidates Single</a>
                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                  <li><a class="dropdown-item" href="#">Candidates Single V1</a></li>
                  <li><a class="dropdown-item" href="#">Candidates Single V2</a></li>
                  <li><a class="dropdown-item" href="#">Candidates Single V3</a></li>
                </ul>
              </li>
            <li><a class="dropdown-item mb-3" href="#">Candidates Dashboard</a></li>
          </ul>
</li>
<li class="nav-item text-secondary dropdown me-4">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
     aria-expanded="false">
     Blog <i class="bi bi-chevron-down ms-2"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item mb-3" href="#">Blog List V1</a></li>
        <li><a class="dropdown-item mb-3" href="#">Blog List V2</a></li>
        <li><a class="dropdown-item mb-3" href="#">Blog List V3</a></li>
        <li><a class="dropdown-item mb-3" href="#">Blog Details</a></li>
      </ul>
      </li>
      <li class="nav-item text-secondary dropdown me-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
         aria-expanded="false">
        Pages <i class="bi bi-chevron-down ms-2"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu">
                <a href="#">Shop</a>
                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                  <li><a class="dropdown-item" href="#">Shop List</a></li>
                  <li><a class="dropdown-item" href="#">Shop Sigle</a></li>
                  <li><a class="dropdown-item" href="#">Cart</a></li>
                  <li><a class="dropdown-item" href="#">Checkout</a></li>
                  <li><a class="dropdown-item" href="#">Order Completed</a></li>
                  <li><a class="dropdown-item" href="#">Login</a></li>
                  <li><a class="dropdown-item" href="#">Register</a></li>
                </ul>
              </li>
            <li><a class="dropdown-item mb-3" href="#">About</a></li>
            <li><a class="dropdown-item mb-3" href="#">Pricing</a></li>
            <li><a class="dropdown-item mb-3" href="#">FAQ's</a></li>
            <li><a class="dropdown-item mb-3" href="#">Terms</a></li>
            <li><a class="dropdown-item mb-3" href="#">Invoice</a></li>
            <li><a class="dropdown-item mb-3" href="#">Contact</a></li>
            <li><a class="dropdown-item mb-3" href="#">404</a></li>
          </ul>
          </li>
    </ul>
          </div>
         <div class="justify-content-end">
            <a href="" class="text-primary me-3">Upload your CV</a>
            <a href="" class=" me-3" id="login">Login / Register</a>
            <a href="" class="btn text-white">Job Post</a>
         </div>
        </div>
      </nav>
      
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="right-sidebar">
                <ul class="nav flex-column bg-white ">
                <li class="nav-item">
                <a  class="nav-link  mt-2 md-2 py-3 px-2 sidebar-link text-secondary " data-bs-toggle="collapse" href="#collapseEighty"
                role="button" aria-expanded="false" aria-controls="collapseEighty">Dashboard</a>
                <div class="collapse collapse-show collapse-lg mb-4" id="collapseEighty">
                <ul class="nav flex-column bg-white py-4 px-4 ps-4" id="flex">
                    <li class="nav-item mb-2">
                        <a href="candidatesDash.html" class="link"><i class="bi bi-house-door me-3"></i>Dashboard</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="profile.html" class="link"><i class="bi bi-person me-3"></i>My Profile</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-file-earmark me-3"></i>My Resume</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-briefcase me-3"></i>Applied Jobs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-bell me-3"></i>Job Alerts</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-bookmark me-3"></i>Shortlisted Jobs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-file-earmark-text me-3"></i>CV Manager</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-box2 fs-4 me-3"></i>Packages</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-chat-square-text me-3"></i>Messages</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-lock me-3"></i>Change Password</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-power me-3"></i>Logout</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="" class="link"><i class="bi bi-trash me-3"></i>Delete Profile</a>
                    </li>

                    </ul>
                    
            <h6 class="text-dark mt-3">Skills Percentage</h6>
            <p class="text-secondary mt-3">Put value for <strong>Cover Image </strong>field to increase your skill up to <strong>85%`</strong></p>
            <img class="mt-3" src="../assets/img/company/pie.png">
                </li>
            </ul>
                </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9" id="howdy">
            <div class="mt-5">
                <h3 class="text-dark pb-2">My Profile!</h3>
                    <p class="text-secondary">Ready to jump back in?</p>
                    <div class="card py-4 px-4 mt-5">
                        <div class="card-body">
                            <div class="profile  mt-4">
                                <div class="d-flex">
                                <div class="me-4 browse justify-content-center text-center">
                                <a href="">
                                    <label class="mt-4 text-dark"  for="firstimg"><i class="bi bi-arrow-up text-secondary"></i>
                                    <p>Browse Logo</p></label>
                                <input type="file" name="" id="firstimg" style="display: none; visibility: none;"></a>
                            </div>
                        </div>
                            <div class="mt-4">
                                <p class="text-secondary mt-4">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg 
                                    & .png</p>
                            </div>
                            </div>
                            <div class="row gx-4 gy-4 mt-4">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Full Name</label>
                                        <input type="name" class="form-control" id="exampleInputName" placeholder="Jerome">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Job Title</label>
                                        <input type="name" class="form-control" id="exampleInputName" placeholder="UI Designer">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Phone</label>
                                        <input type="name" class="form-control" id="exampleInputName" placeholder="0 123 456 7890">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Email Address</label>
                                        <input type="name" class="form-control" id="exampleInputName" placeholder="creativelayers">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Website</label>
                                        <input type="name" class="form-control" id="exampleInputName" placeholder="www.Jerome .com">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="mb-3">
                                                <label for="exampleInputName" class="form-label">Current Salary</label>
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>40-70k</option>
                                                    <option value="1">50-80k</option>
                                                    <option value="2">60-90k</option>
                                                    <option value="3">70-100k</option>
                                                    <option value="4">100-150k</option>
                                                  </select>
                                              </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6">
                                                <div class="mb-3">
                                                    <label for="exampleInputPassword1" class="form-label">Expected Salary($)</label>
                                                    <select class="form-select form-control" aria-label="Default select example">
                                                        <option selected>120-350k</option>
                                                        <option value="1">40-70k</option>
                                                        <option value="1">50-80k</option>
                                                        <option value="2">60-90k</option>
                                                        <option value="3">70-100k</option>
                                                        <option value="4">100-150k</option>
                                                      </select>
                                                  </div>
                                                </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Experience</label>
                                        <input type="name" class="form-control" id="exampleName" placeholder="5-10 years">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Age</label>
                                        <select class="form-select form-control" aria-label="Default select example">
                                            <option selected>23-27 years</option>
                                            <option value="1">24-28 years</option>
                                            <option value="1">25-29 years</option>
                                            <option value="2">26-30 years</option>
                                          </select>
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Education Levels</label>
                                        <input type="name" class="form-control" id="exampleInputName" placeholder="Certificate">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Languages</label>
                                        <input type="name" class="form-control" id="exampleInputName" placeholder="English, Turkish">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Categories</label>
                                        <select class="form-select form-control" aria-label="Default select example">
                                            <option selected>Banking</option>
                                            <option value="1">Accounting & Finance</option>
                                            <option value="2">Retail</option>
                                            <option value="3">Management</option>
                                            <option value="4">Digital</option>
                                            <option value="5">Creative Art</option>
                                          </select>
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Allow In Search & Listing</label>
                                        <select class="form-select form-control" aria-label="Default select example">
                                            <option selected>Yes</option>
                                            <option value="1">No</option>
                                          </select>
                                      </div>
                                </div>
                            </div>
                            <h6 class="mt-5">Description</h6>
                            <div class="card py-4 px-4  mt-2" id="description" style="background-color: #e2eaf8;">
                                <div class="card-body">
                                    <p class="text-secondary">Spent several years working on sheep on Wall Street. Had moderate success investing 
                                        in Yugo's on Wall Street. Managed a small team buying and selling Pogo sticks for farmers. Spent several
                                         years licensing licorice in West Palm Beach, FL. Developed several new methods for working it banjos in
                                          the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software
                                           Engineer collaborates with Evention's Development team to continuously enhance our current software 
                                           solutions as well as create new solutions to eliminate the back-office operations and management challenges
                                            present"</p>
                                </div>
                            </div>
                            <a href="" class="btn mt-5">Save</a>
                        </div>
                    </div>
                    <div class="card py-4 px-4 mt-5">
                        <div class="card-body">
                            <h6 class="text-dark">Social Network</h6>
                            <div class="row mt-4">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Facebook</label>
                                        <input type="name" class="form-control" id="exampleInputName" placeholder="www.facebook .com/Invision">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Twitter</label>
                                        <input type="name" class="form-control" id="exampleInputName">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Linkedin</label>
                                        <input type="name" class="form-control" id="exampleInputName">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Google Plus</label>
                                        <input type="name" class="form-control" id="exampleInputName">
                                      </div>
                                </div>
                            </div>
                            <a href="" class="btn mt-4">Save</a>
                        </div>
                    </div>
                    <div class="card py-4 px-4 mt-5">
                        <div class="card-body">
                            <h6 class="text-dark">Contact Information</h6>
                            <div class="row mt-4">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Country</label>
                                        <select class="form-select form-control" aria-label="Default select example">
                                            <option selected>Australia</option>
                                            <option value="1">Pakistan</option>
                                            <option value="2">China</option>
                                            <option value="3">Japan</option>
                                            <option value="4">India</option>
                                          </select>
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">City</label>
                                        <select class="form-select form-control" aria-label="Default select example">
                                            <option selected>Melbourne</option>
                                            <option value="1">Pakistan</option>
                                            <option value="2">China</option>
                                            <option value="3">Japan</option>
                                            <option value="4">India</option>
                                          </select>
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Complete Address</label>
                                        <input type="Name" class="form-control" placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia." id="exampleInputName">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="exampleInputName" class="form-label">Find On Map</label>
                                        <input type="Name" class="form-control" placeholder="329 Queensberry Street, North Melbourne VIC 3051, Australia." id="exampleInputName">
                                      </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div class="mb-3">
                                                <label for="exampleInputName" class="form-label">Latitude</label>
                                                <input type="Name" class="form-control" placeholder="Melbourne" id="exampleInputName">
                                              </div>
                                            </div>
                                            <div class="col-sm-12 col-md-6 col-lg-6">
                                                <div class="mb-3">
                                                    <label for="exampleInputName" class="form-label">Longitude</label>
                                                    <input type="Name" class="form-control" placeholder="Melbourne" id="exampleInputName">
                                                  </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                                <a href="" class="btn mt-4">Search Location</a>
                                    <div class="map-area mb-3 mt-4">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3059445135!2d-74.25986613799748!3d40.
                                        69714941774136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20
                                        York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1678973178042!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                       </div>
                           
                            <a href="" class="btn mt-4">save</a>
                            </div>
                            </div>
            </div>
            <div class="text-center mt-5">
                <p class="text-secondary">© 2023 Superio by <a href="" class="text-primary"> ib-themes.</a> All Right Reserved.</p>
            </div>
          
        </div>
        </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
          <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
             <script>
                 AOS.init();
             </script>
</body>
</html>