 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/superio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Superio</title>
 </head>
 <body>
    <div class="container-fluid bg-dark py-4" id="buy">
        <a href="" ><img width="160px" src="../assets/img/logo/envato-market.svg"></a>
        <div class=" float-end"> <a href="" class="btn  text-white">Buy Now</a></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top" style="background: url(../assets/img/image/bg-1.png);">
        <div class="container-fluid pe-4"> 
          <a class="navbar-brand" href="#"><img src="../assets/img/image/logo.svg"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item text-secondary me-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                      Home<i class="bi bi-chevron-down ms-2"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listing">
                        <div class="row py-4 px-4">
                            <div class="col-lg-3"> 
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 01</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 02</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 03</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 04</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 05</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3"> 
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 06</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 07</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 08</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 09</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 10</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3"> 
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 11</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 12</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 13</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 14</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 15</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3"> 
                                <ul class="list-unstyled">
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 16</a></li>
                                    <li><a class="dropdown-item mb-3" href="#">Home Page 17</a></li>
                                </ul>
                            </div>
                        </div>
                      </ul>
            </li>
            <li class="nav-item text-secondary me-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                  Find Jobs<i class="bi bi-chevron-down ms-2"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="listing">
                    <div class="row py-4 px-4">
                        <div class="col-lg-3">
                            <h6 class="text-dark mb-4 fw-bold">Jobs Listing</h6> 
                            <ul class="list-unstyled">
                                <li><a class="dropdown-item mb-3" href="#">Job List V1</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V2</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V3</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V4</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V5</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3"> 
                            <h6 class="text-dark mb-4 fw-bold">Jobs Listing</h6> 
                            <ul class="list-unstyled">
                                <li><a class="dropdown-item mb-3" href="#">Job List V6</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V7</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V8</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V9</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V10</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h6 class="text-dark mb-4 fw-bold">Jobs Listing</h6>  
                            <ul class="list-unstyled">
                                <li><a class="dropdown-item mb-3" href="#">Job List V11</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V12</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V13</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V14</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job List V15</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3"> 
                            <h6 class="text-dark mb-4 fw-bold">Jobs Single</h6> 
                            <ul class="list-unstyled">
                                <li><a class="dropdown-item mb-3" href="#">Jobs Single V1</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job Single V2</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job Single V3</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job Single V4</a></li>
                                <li><a class="dropdown-item mb-3" href="#">Job Single V5</a></li>
                            </ul>
                        </div>
                    </div>
                  </ul>
        </li>
        <li class="nav-item text-secondary dropdown me-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
              Employers <i class="bi bi-chevron-down ms-2"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-submenu">
                    <a href="#">Employers List</a>
                    <ul class="dropdown-menu py-4 px-2 pe-4 ">
                      <li><a class="dropdown-item" href="#">Employers List V1</a></li>
                      <li><a class="dropdown-item" href="#">Employers List V2</a></li>
                      <li><a class="dropdown-item" href="#">Employers List V3</a></li>
                      <li><a class="dropdown-item" href="#">Employers List V4</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#">Employers Single</a>
                    <ul class="dropdown-menu py-4 px-2 pe-4 ">
                      <li><a class="dropdown-item" href="#">Employers Single V1</a></li>
                      <li><a class="dropdown-item" href="#">Employers Single V2</a></li>
                      <li><a class="dropdown-item" href="#">Employers Single V3</a></li>
                      <li><a class="dropdown-item" href="#">Employers Single V4</a></li>
                    </ul>
                  </li>
                <li><a class="dropdown-item mb-3" href="#">Employers Dashboard</a></li>
              </ul>
    </li>
    <li class="nav-item text-secondary dropdown me-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
         aria-expanded="false">
         Candidates <i class="bi bi-chevron-down ms-2"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu">
                <a href="#">Candidates List</a>
                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                  <li><a class="dropdown-item" href="#">Candidates List V1</a></li>
                  <li><a class="dropdown-item" href="#">Candidates List V2</a></li>
                  <li><a class="dropdown-item" href="#">Candidates List V3</a></li>
                  <li><a class="dropdown-item" href="#">Candidates List V4</a></li>
                  <li><a class="dropdown-item" href="#">Candidates List V5</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Candidates Single</a>
                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                  <li><a class="dropdown-item" href="#">Candidates Single V1</a></li>
                  <li><a class="dropdown-item" href="#">Candidates Single V2</a></li>
                  <li><a class="dropdown-item" href="#">Candidates Single V3</a></li>
                </ul>
              </li>
            <li><a class="dropdown-item mb-3" href="#">Candidates Dashboard</a></li>
          </ul>
</li>
<li class="nav-item text-secondary dropdown me-4">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
     aria-expanded="false">
     Blog <i class="bi bi-chevron-down ms-2"></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item mb-3" href="#">Blog List V1</a></li>
        <li><a class="dropdown-item mb-3" href="#">Blog List V2</a></li>
        <li><a class="dropdown-item mb-3" href="#">Blog List V3</a></li>
        <li><a class="dropdown-item mb-3" href="#">Blog Details</a></li>
      </ul>
      </li>
      <li class="nav-item text-secondary dropdown me-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
         aria-expanded="false">
        Pages <i class="bi bi-chevron-down ms-2"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="dropdown-submenu">
                <a href="#">Shop</a>
                <ul class="dropdown-menu py-4 px-2 pe-4 ">
                  <li><a class="dropdown-item" href="#">Shop List</a></li>
                  <li><a class="dropdown-item" href="#">Shop Sigle</a></li>
                  <li><a class="dropdown-item" href="#">Cart</a></li>
                  <li><a class="dropdown-item" href="#">Checkout</a></li>
                  <li><a class="dropdown-item" href="#">Order Completed</a></li>
                  <li><a class="dropdown-item" href="#">Login</a></li>
                  <li><a class="dropdown-item" href="#">Register</a></li>
                </ul>
              </li>
            <li><a class="dropdown-item mb-3" href="#">About</a></li>
            <li><a class="dropdown-item mb-3" href="#">Pricing</a></li>
            <li><a class="dropdown-item mb-3" href="#">FAQ's</a></li>
            <li><a class="dropdown-item mb-3" href="#">Terms</a></li>
            <li><a class="dropdown-item mb-3" href="#">Invoice</a></li>
            <li><a class="dropdown-item mb-3" href="#">Contact</a></li>
            <li><a class="dropdown-item mb-3" href="#">404</a></li>
          </ul>
          </li>
    </ul>
          </div>
         <div class="justify-content-end">
            <a href="" class="text-primary me-3">Upload your CV</a>
            <a href="" class=" me-3" id="login">Login / Register</a>
            <a href="" class="btn text-white">Job Post</a>
         </div>
        </div>
      </nav>
      <div class="container-fluid" style="background: url(../assets/img/image/bg-1.png);">
        <div class="container mb-5">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <div class="are" data-aos="fade-up" data-aos-duration="1000">
                <h1 class="text-dark mb-4">There Are<span class="text-primary"> 93,178</span> Postings Here For you!</h1>
                <p class="text-secondary">Find Jobs, Employment & Career Opportunities</p>
                <div class="row mt-5" id="search">
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <input class="bg-white" type="text" id="place" placeholder="Job, titles, Skills">
                </div>
            </div>
                <div class="row select bg-white py-2" id="advance">
                    <div class="col-sm-12 col-md-12 col-lg-5">
                        <input type="text" class="form-control mt-4 border-end" id="text" placeholder="Job title, keywords, or company">
                        <select class="form-select form-control border-end mt-1 mb-2" id="city1" aria-label="Default select example">
                            <option selected>Experience</option>
                            <option value="1">0-5 Years</option>
                            <option value="2">5-10 Years</option>
                            <option value="3">10-15 Years</option>
                            <option value="4">15-20 Years</option>
                          </select>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <input type="text" class="form-control mt-4" id="text" placeholder="city or postcode">
                        <input type="text" class="form-control mt-1 mb-2"  id="city" placeholder="Industry">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <i class="bi bi-x text-dark float-end" id="end"></i>
                        <a href="" class="btn w-100 text-white">Find Jobs</a>
                        <span class="text-primary " id="end1">Advance Search</span>
                    </div>
                </div>
                <div class="row pt-4" data-aos="fade-up" data-aos-duration="1800">
                    <span>
                        <strong>Popular Searches:</strong>
                        <a href="" class="text-secondary ms-4 me-1">Designer,</a>
                        <a href="" class="text-secondary me-1">Web,</a>
                        <a href="" class="text-secondary me-1">IOS,</a>
                        <a href="" class="text-secondary me-1">Developer,</a>
                        <a href="" class="text-secondary me-1">PHP,</a>
                        <a href="" class="text-secondary me-1">Senior,</a>
                        <a href="" class="text-secondary">Engineer</a>
                    </span>
                </div>
            </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="work">
                    <div class="img-banner">
                    <div class="card" id="c1" data-aos="zoom-in" data-aos-duration="1500">
                        <div class="card-body">
                            <div class="d-flex py-2 px-2">
                                <div class="me-3">
                                    <span class="envelope">
                                   <i class="bi bi-envelope"></i>
                                </span>
                                </div>
                                <div>
                                   <h6 class="text-dark">Work Inquiry From
                                    Ali Tufan</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="c2" data-aos="zoom-in" data-aos-duration="1700">
                        <div class="card-body">
                            <div class="text-center  py-3 px-2">
                            <p class="text-dark">10k+ Candidates</p>
                            <img src="../assets/img/image/multi-peoples.png">
                        </div>
                        </div>
                    </div>
                    <div class="card" id="c3" data-aos="zoom-in" data-aos-duration="2200">
                        <div class="card-body">
                            <div class="d-flex py-2 px-2">
                                <div class="me-3 mt-2">
                                    <span class="briefcase">
                                   <i class="bi bi-briefcase"></i>
                                </span>
                                </div>
                                <div class="me-3">
                                    <span class="text-dark mb-2">Creative Agency</span>
                                    <span class="text-secondary">Startup</span>
                                </div>
                                <div class="mt-2">
                                    <span class="check">
                                   <i class="bi bi-check-lg text-white"></i>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="c5">
                        <div class="card-body">
                            <div class="text-center">
                            <i class="bi bi-file-earmark-arrow-up text-primary"></i>
                        </div>
                        </div>
                    </div>
                    <div class="card" id="c4">
                        <div class="card-body">
                            <div class="text-center">
                           <p class="text-dark">Upload Your CV</p>
                           <span class="text-secondary">It only takes a few seconds</span>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>
         <div class="container">
        <h2 class="text-dark text-center" id="popular">Popular Job Categories</h2>
        <p class="text-secondary text-center mt-3">2020 jobs live - 293 added today.</p>
        <div class="row gx-4 gy-4 mt-5" id="category" data-aos="fade-up" data-aos-duration="2100">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-1.png">
                            </div>
                            <div class="mt-2">
                                <h6><a href="">Accounting/ Finance</a></h6>
                                <p class="text-secondary mt-2">(2 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-2.png">
                            </div>
                            <div class="mt-2">
                               <h6><a href="">Marketing</a></h6> 
                                <p class="text-secondary mt-2">(86 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-3.png">
                            </div>
                            <div class="mt-2">
                                <h6><a href="">Design</a></h6>
                                <p class="text-secondary mt-2">(43 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-4.png">
                            </div>
                            <div class="mt-2">
                               <h6><a href="">Development</a></h6> 
                                <p class="text-secondary mt-2">(12 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-5.png">
                            </div>
                            <div class="mt-2">
                                <h6><a href="">Human Resources</a></h6>
                                <p class="text-secondary mt-2">(55 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-6.png">
                            </div>
                            <div class="mt-2">
                                <h6><a href="">Automotive Jobs</a></h6>
                                <p class="text-secondary mt-2">(2 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-7.png">
                            </div>
                            <div class="mt-2">
                                <h6><a href="">Customer Service</a></h6>
                                <p class="text-secondary mt-2">(2 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-8.png">
                            </div>
                            <div class="mt-2">
                                <h6><a href="">Health & Care</a></h6>
                                <p class="text-secondary mt-2">(25 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card  px-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/category/icon-8.png">
                            </div>
                            <div class="mt-2">
                                <h6><a href="">Project Management</a></h6>
                                <p class="text-secondary mt-2">(92 open positions)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="text-secondary" id="popular">
    <div class="container ">
        <h2 class="text-dark text-center" id="popular">Featured Jobs</h2>
        <p class="text-secondary text-center mt-3">Know your worth and find the job that qualify your life</p>
        <div class="row feature gx-4 gy-4 mt-4" data-aos="fade-up" data-aos-duration="2200">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card py-3 px-2">
                    <div class="card-body">
                                <div class="d-flex">
                                    <div class="me-3">
                                        <img src="../assets/img/company/1-1.png">
                                    </div>
                                    <div class="me-4">
                                        <a href=""><h6 class="mb-2">Software Engineer (Android), Libraries</h6></a>
                                        <span class="text-secondary me-3"><i class="bi bi-briefcase me-2"></i>Segement</span>
                                        <span class="text-secondary me-3"><i class="bi bi-geo-alt me-2"></i>London, UK</span>
                                        <span class="text-secondary me-3"><i class="bi bi-clock me-2"></i>11 hours ago</span>
                                        <span class="text-secondary"><i class="bi bi-cash-stack me-2"></i>$35k-$45k</span>
                                        <div class="mt-3">
                                            <span class="part text-primary me-2">Full Time</span>
                                            <span class="private text-success me-2">Private</span>
                                            <span class="urgent text-warning">Urgent</span>
                                        </div>
                                    </div>
                                    <div class="float-end ">
                                        <a href=""><i class="bi bi-bookmark"></i></a>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card py-3 px-2">
                <div class="card-body">
                            <div class="d-flex">
                                <div class="me-3">
                                    <img src="../assets/img/company/1-2.png">
                                </div>
                                <div class="me-4">
                                    <a href=""><h6 class="mb-2">Recruiting Coordinator</h6></a>
                                    <span class="text-secondary me-3"><i class="bi bi-briefcase me-2"></i>Catalyst</span>
                                    <span class="text-secondary me-3"><i class="bi bi-geo-alt me-2"></i>London, UK</span>
                                    <span class="text-secondary me-3"><i class="bi bi-clock me-2"></i>11 hours ago</span>
                                    <span class="text-secondary"><i class="bi bi-cash-stack me-2"></i>$35k-$45k</span>
                                    <div class="mt-3">
                                        <span class="part text-primary me-2">Freelancer</span>
                                        <span class="private text-success me-2">Private</span>
                                        <span class="urgent text-warning">Urgent</span>
                                    </div>
                                </div>
                                <div class="float-end ms-3">
                                    <a href=""><i class="bi bi-bookmark"></i></a>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card py-3 px-2">
            <div class="card-body">
                        <div class="d-flex">
                            <div class="me-3">
                                <img src="../assets/img/company/1-3.png">
                            </div>
                            <div class="me-4">
                                <a href=""><h6 class="mb-2">Product Manager, Studio</h6></a>
                                <span class="text-secondary me-3"><i class="bi bi-briefcase me-2"></i>Invision</span>
                                <span class="text-secondary me-3"><i class="bi bi-geo-alt me-2"></i>London, UK</span>
                                <span class="text-secondary me-3"><i class="bi bi-clock me-2"></i>11 hours ago</span>
                                <span class="text-secondary"><i class="bi bi-cash-stack me-2"></i>$35k-$45k</span>
                                <div class="mt-3">
                                    <span class="part text-primary me-2">Part Time</span>
                                    <span class="private text-success me-2">Private</span>
                                    <span class="urgent text-warning">Urgent</span>
                                </div>
                            </div>
                            <div class="float-end ms-3">
                                <a href=""><i class="bi bi-bookmark"></i></a>
                            </div>
                        </div>
                    </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card  py-3 px-2">
        <div class="card-body">
                    <div class="d-flex">
                        <div class="me-3">
                            <img src="../assets/img/company/1-4.png">
                        </div>
                        <div class="me-4">
                            <a href=""><h6 class="mb-2">Senior Product Designer</h6></a>
                            <span class="text-secondary me-3"><i class="bi bi-briefcase me-2"></i>Upwork</span>
                            <span class="text-secondary me-3"><i class="bi bi-geo-alt me-2"></i>London, UK</span>
                            <span class="text-secondary me-3"><i class="bi bi-clock me-2"></i>11 hours ago</span>
                            <span class="text-secondary"><i class="bi bi-cash-stack me-2"></i>$35k-$45k</span>
                            <div class="mt-3">
                                <span class="part text-primary me-2">Temporary</span>
                                <span class="private text-success me-2">Private</span>
                                <span class="urgent text-warning">Urgent</span>
                            </div>
                        </div>
                        <div class="float-end ms-3">
                            <a href=""><i class="bi bi-bookmark"></i></a>
                        </div>
                    </div>
                </div>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card py-3 px-2">
        <div class="card-body">
                    <div class="d-flex">
                        <div class="me-3">
                            <img src="../assets/img/company/1-5.png">
                        </div>
                        <div class="me-4">
                            <a href=""><h6 class="mb-2">Senior Full Stack Engineer, Creator Success</h6></a>
                            <span class="text-secondary me-3"><i class="bi bi-briefcase me-2"></i>Medium</span>
                            <span class="text-secondary me-3"><i class="bi bi-geo-alt me-2"></i>London, UK</span>
                            <span class="text-secondary me-3"><i class="bi bi-clock me-2"></i>11 hours ago</span>
                            <span class="text-secondary"><i class="bi bi-cash-stack me-2"></i>$35k-$45k</span>
                            <div class="mt-3">
                                <span class="part text-primary me-2">Full Time</span>
                                <span class="private text-success me-2">Private</span>
                                <span class="urgent text-warning">Urgent</span>
                            </div>
                        </div>
                        <div class="float-end ms-3">
                            <a href=""><i class="bi bi-bookmark"></i></a>
                        </div>
                    </div>
                </div>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6">
    <div class="card py-3 px-2">
        <div class="card-body">
                    <div class="d-flex">
                        <div class="me-3">
                            <img src="../assets/img/company/1-6.png">
                        </div>
                        <div class="me-4">
                            <a href=""><h6 class="mb-2">Software Engineer (Android), Libraries</h6></a>
                            <span class="text-secondary me-3"><i class="bi bi-briefcase me-2"></i>Figma</span>
                            <span class="text-secondary me-3"><i class="bi bi-geo-alt me-2"></i>London, UK</span>
                            <span class="text-secondary me-3"><i class="bi bi-clock me-2"></i>11 hours ago</span>
                            <span class="text-secondary"><i class="bi bi-cash-stack me-2"></i>$35k-$45k</span>
                            <div class="mt-3">
                                <span class="part text-primary me-2">Freelancer</span>
                                <span class="private text-success me-2">Private</span>
                                <span class="urgent text-warning">Urgent</span>
                            </div>
                        </div>
                        <div class="float-end ms-3">
                            <a href=""><i class="bi bi-bookmark"></i></a>
                        </div>
                    </div>
                </div>
</div>
</div>
    </div>
    <div class="text-center mt-5">
        <a href="" class="btn text-white">Load More Listing</a>
    </div>
</div>
<div class="container-fluid" id="popular" style="background-color: #f0f5f7;">
<div class="container pt-5 pb-5 mb-4">
    <h2 class="text-dark text-center mt-5">Testimonials From Our Customers</h2>
    <p class="text-secondary text-center mt-3">Lorem ipsum dolor sit amet elit, sed do eiusmod tempor</p>
    <div id="img-owl" class="owl-carousel owl-theme pt-5" data-aos="fade-up-left" data-aos-duration="1200">
        <div class="item">
            <div class="card py-3 px-4">
                <div class="card-body">
                        <h6 class="text-primary mb-4">Good theme 
                             <img class="float-end" style="width: 34px;" src="../assets/img/image/quote-icon.png"></h6>
                    <p class="text-secondary">Without JobHunt i’d be homeless, they found me a job and got me
                        sorted out quickly with everything! Can’t quite… The Mitech team
                        works really hard to ensure high level of quality</p>
                        <div class="d-flex mt-4">
                            <div class="me-3">
                                <img class="rounded-circle" src="../assets/img/testimonial/testi-thumb-1.png">
                            </div>
                            <div class="mt-2">
                                <h6 class="mb-2">Nicole Wells</h6>
                                <p class="text-secondary">Web Designer</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card py-3 px-4">
                <div class="card-body">
                    <h6 class="text-primary mb-4">Good quality 
                        <img class="float-end" style="width: 34px;" src="../assets/img/image/quote-icon.png"></h6>
                    <p class="text-secondary">Without JobHunt i’d be homeless, they found me a job and got me
                        sorted out quickly with everything! Can’t quite… The Mitech team
                        works really hard to ensure high level of quality</p>
                        <div class="d-flex mt-4">
                            <div class="me-3">
                                <img class="rounded-circle" src="../assets/img/testimonial/testi-thumb-2.png">
                            </div>
                            <div class="mt-2">
                                <h6 class="mb-2">Gabriel Nolan</h6>
                                <p class="text-secondary">Consulant</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card py-3 px-4">
                <div class="card-body">
                    <h6 class="text-primary mb-4">Awesome Design 
                        <img class="float-end" style="width: 34px;" src="../assets/img/image/quote-icon.png"></h6>
                    <p class="text-secondary">Without JobHunt i’d be homeless, they found me a job and got me
                        sorted out quickly with everything! Can’t quite… The Mitech team
                        works really hard to ensure high level of quality</p>
                        <div class="d-flex mt-4">
                            <div class="me-3">
                                <img class="rounded-circle" src="../assets/img/testimonial/testi-thumb-3.png">
                            </div>
                            <div class="mt-2">
                                <h6 class="mb-2">Ashley Jenklin</h6>
                                <p class="text-secondary"> Designer</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container" id="popular">
    <div class="row gx-4 gy-4" data-aos="zoom-in" data-aos-duration="1200" id="company">
        <div class="col-sm-6 col-md-6 col-lg-2">
            <a href=""><img src="../assets/img/company/1-7.png"></a>
        </div>
        <div class="col-sm-6 col-md-6  col-lg-2">
            <a href=""><img src="../assets/img/company/1-8.png"></a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-2">
            <a href=""><img src="../assets/img/company/1-7.png"></a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-2">
            <a href=""><img src="../assets/img/company/1-8.png"></a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-2">
            <a href=""><img src="../assets/img/company/1-9.png"></a>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-2">
            <a href=""><img src="../assets/img/company/1-10.png"></a>
        </div>
    </div>
</div>
<hr class="text-secondary" id="popular">
<div class="container" id="popular">
<div class="row gx-4 gy-4" id="one">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div  data-aos="fade-right" data-aos-duration="1700">
        <div class="image">
        <img width="100%" src="../assets/img/company/image-2.jpg">
            </div>
            <div class="card" data-aos="flip-right" data-aos-duration="1700">
                    <div class="check ">
                        <i class="bi bi-check-lg fa-2x rounded-circle text-white bg-primary text-center justify-content-center"></i>
                    </div>
                    <div class="body text-center">
                        <h6 class="text-dark mb-4">300k+ Employers</h6>
                        <img class="mb-3" src="../assets/img/image/multi-logo.png">
                    </div>
            </div>
    </div>
</div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="ms-5 mt-3"  data-aos="fade-left" data-aos-duration="1700">
        <h1 class="text-dark mb-4">Millions of Jobs. Find the one that suits you.</h1>
        <div class="open">
        <p class="text-secondary">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 
            600,000 companies worldwide.</p>
            <ul class="list-unstyled mt-4 mb-4">
                <li class="mb-4 text-secondary"><i class="bi bi-check-lg me-3"></i>Bring to the table win-win survival</li>
                <li class="mb-4 text-secondary"><i class="bi bi-check-lg me-3"></i>Bring to the table win-win survival</li>
                <li class=" text-secondary"><i class="bi bi-check-lg me-3"></i>Bring to the table win-win survival</li>
            </ul>
            <a href="" class="btn text-white">Get Started</a>
        </div>
    </div>
    </div>
</div>
<div class="row pt-5 justify-content-center" data-aos="fade-up" data-aos-duration="1900" id="active">
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <span><span class="counter">4</span>M</span>
        <p class="text-secondary mt-2">4 million daily active users</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <span><span class="counter">12</span>k</span>
        <p class="text-secondary mt-2">Over 12k open job positions</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <span><span class="counter">20</span>M</span>
        <p class="text-secondary mt-2">Over 20 million stories shared</p>
    </div>
</div>
</div>
<div class="recent" style="background-color: #ecedf2;" id="popular">
    <div class="container pt-5 pb-5">
    <h2 class="text-dark text-center">Recent News Articles</h2>
    <p class="text-secondary text-center mt-3">Fresh job related news content posted each day.</p>
    <div class="row gx-4 gy-4 mt-5 mb-5"  data-aos="fade-up" data-aos-duration="2100">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="img">
                    <img height="258px" class="card-img-top" src="../assets/img/image/1.jpg">
                </div>
                    <div class="mt-3">
                        <a href="" class="august text-secondary px-3">August 31, 2021 <i class="bi bi-dot me-2 ms-2"></i>12 Comment</a>
                        <div class="mt-3 px-3 mb-4">
                        <a href=""><h6>Attract Sales And Profits</h6></a>
                        <p class="text-secondary mt-3 mb-3">A job ravenously while Far much that one rank be held after outside....</p>
                        <a href="" class="mt-5 text-primary">Read More<i class="bi bi-chevron-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="img">
                    <img height="258px" class="card-img-top" src="../assets/img/image/2.jpg">
                    </div>
                    <div class="mt-3">
                        <a href="" class="august text-secondary px-3">August 31, 2021 <i class="bi bi-dot me-2 ms-2"></i>12 Comment</a>
                        <div class="mt-3 px-3 mb-4">
                        <a href=""><h6>5 Tips For Your Job Interviews</h6></a>
                        <p class="text-secondary mt-3 mb-3">A job ravenously while Far much that one rank be held after outside....</p>
                        <a href="" class="mt-5 text-primary">Read More<i class="bi bi-chevron-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="img">
                    <img height="258px" class="card-img-top" src="../assets/img/image/3.jpg">
                </div>
                    <div class="mt-3">
                        <a href="" class="august text-secondary px-3">August 31, 2021 <i class="bi bi-dot me-2 ms-2"></i>12 Comment</a>
                        <div class="mt-3 px-3 mb-4">
                        <a href=""><h6>Overworked Newspaper Editor</h6></a>
                        <p class="text-secondary mt-3 mb-3">A job ravenously while Far much that one rank be held after outside....</p>
                        <a href="" class="mt-5 text-primary">Read More<i class="bi bi-chevron-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
</div>
<div class="container" id="popular">
<div class="row pt-5" id="enjoy">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="mobile" data-aos="fade-right" data-aos-duration="2000">
        <img src="../assets/img/image/mobile-app.png">
    </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div id="right"  data-aos="fade-left" data-aos-duration="2000">
            <span class=" h5 text-primary text-uppercase">download & enjoy</span>
            <h1 class="text-dark mt-3">Get the Superio Job
                Search App</h1>
                <p class="text-secondary mt-3">Search through millions of jobs and find the right fit. Simply
                    swipe right to apply.</p>
                    <div class="d-flex">
                        <a href="" class="mt-3 me-4" ><img src="../assets/img/image/apple.png"></a>
                        <a href="" class="mt-3" ><img src="../assets/img/image/apple.png"></a>
                    </div>
        </div>
    </div>
</div>
<div class="row recruter" data-aos="fade-up" data-aos-duration="2000" id="popular">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="d-flex justify-content-between">
                <div class=" start">
                    <h3 class="text-dark">Recruiting?</h3>
                    <p class="text-secondary mt-3 mb-4">Advertise your jobs to millions of monthly users and search 15.8 million
                        CVs in our database.</p>
                        <a href="" class="btn text-white px-4 py-3">Start Recruiting Now</a>
                </div>
                <div class="img">
                    <img src="../assets/img/image/bg.png">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="footer" data-aos="fade-up" data-aos-duration="1600" id="popular">
    <div class="container">
    <div class="row">
        <div class="footer-col-1">
            <a href="" class="text-dark"><img class="me-3" src="../assets/img/image/logo.svg"></a>
            <div class="text-start mt-4">
                <h5 class="text-dark">Call us</h5>
                <a href="" class="text-primary"><h5>123 456 7890</h5></a>
                <div class="mt-4 text-secondary">
                <span>329 Queensberry Street, North Melbourne VIC 3051, Australia.</span><br>
                    <a href="" class="text-secondary">support@superio.com</a>
            </div>
            </div>
        </div>
        <div class="footer-col-2">
            <h5 class="text-dark">For Candidates</h5>
            <p>
                <a href="" >Browse Jobs</a>
            </p>
            <p>
                <a href="" >Browse Categories</a>
            </p>
            <p>
                <a href="" >Candidates Dashboard</a>
            </p>
            <p>
                <a href="" >Job Alerts</a>
            </p>
            <p>
                <a href="" >My Bookmarks</a>
            </p>
        </div>
        <div class="footer-col-2">
            <h5 class="text-dark">For Employers</h5>
            <p>
                <a href="" >Browse Candidates</a>
            </p>
            <p>
                <a href="" >Employer Dashboard</a>
            </p>
            <p>
                <a href="" >Add Jobs</a>
            </p>
            <p>
                <a href="" >Job Packages</a>
            </p>
        </div>
        <div class="footer-col-2">
            <h5 class="text-dark">About Us</h5>
            <p>
                <a href="" >About Us</a>
            </p>
            <p>
                <a href="" >Browse Categories</a>
            </p>
            <p>
                <a href="" >Candidates Dashboard</a>
            </p>
            <p>
                <a href="" >Job Page Invoice</a>
            </p>
            <p>
                <a href="" >Term Page</a>
            </p>
            <p>
                <a href="" >Blog</a>
            </p>
            <p>
                <a href="" >Contact</a>
            </p>
        </div>
        <div class="footer-col-2">
            <h5 class="text-dark">Helpful Resources</h5>
            <p>
                <a href="" >Site Map</a>
            </p>
            <p>
                <a href="" >Terms of Use</a>
            </p>
            <p>
                <a href="" >Privacy Center</a>
            </p>
            <p>
                <a href="" >Security Center</a>
            </p>
            <p>
                <a href="" >Accessibility Center</a>
            </p>
        </div>
    </div>
    </div>
    <hr class="text-secondary mt-5">
    <div class="container" id="all">
        <div class="d-flex justify-content-between mt-3">
            <div class="mt-2 mb-2 text-secondary">
                <p>© 2023 Superio by <a href=""> ib-themes.</a> All Right Reserved.</p>
            </div>
            <div class="mt-2 mb-2">
                <a href="" class="me-4"><i class="bi bi-facebook"></i></a>
                <a href="" class="me-4"><i class="bi bi-twitter"></i></a>
                <a href="" class="me-4"><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../assets/js/main.js"></script>
    
 </body>
 </html>