<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/deleteProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"/>
    <title>Delete Profile</title>
</head>
<body>
    <div class="container-fluid pt-5 pb-5" id="fluid">
        <div class="text-center">
            <div class="row justify-content-center" >
                <div class="col-lg-5 col-sm-12 col-md-12">
                    <img src="../assets/img/logo/logo-white.png" >
                    <h1 class="fw-bold text-white pt-5 pb-5 ">Job Board - Job Portal HTML Template</h1>  
                </div>
            </div>
            <div class="row justify-content-center " id="layout">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card mt-3">
                        <div class="card-body py-3 px-3">
                            <h1 class="text-white text-center fw-bold">5+</h1>
                            <h6 class="text-white text-white">Home Pages</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 ">
                    <div class="card mt-3">
                        <div class="card-body py-3 px-3">
                            <h1 class="text-white text-center fw-bold">85+</h1>
                            <h6 class="text-white text-white">Inner Pages</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card mt-3">
                        <div class="card-body py-3 px-3">
                            <h1 class="text-white text-center fw-bold">15+</h1>
                            <h6 class="text-white text-white">Job Layouts</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="card mt-3">
                        <div class="card-body py-3 px-3">
                            <h1 class="text-white text-center fw-bold">75+</h1>
                            <h6 class="text-white text-white">Elements</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="container mt-5 pt-5 pb-5 mb-4" id="fluid1">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h1 class=" text-center" id="num">5+</h1>
                    <h1 class="fw-bold text-dark text-center">Premade
                        Homepages and Dashboards...</h1>
                </div>
            </div>
            <div class="row mt-5 " id="imgcard">
                <div class="col-sm-12 col-md-6 col-lg-4 mt-4" id="card">
                        <a href="">
                        <img class="img-fluid rounded-corner"  width="350px" src="../assets/img/home/home-01.jpg"></a>
                    <h5 class="text-center mt-4 mb-4">Home 01</h5>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4  mt-4"id="card" >
                     <a href="">
                        <img class="img-fluid rounded-corner"  width="350px" src="../assets/img/home/home-02.jpg"></a>
                        <h5 class="text-center mt-4 mb-4">Home 02</h5>
                    </div>
            
                <div class="col-sm-12 col-md-6 col-lg-4 mt-4"id="card">
                        <a href="">
                        <img class="img-fluid rounded-corner"  width="350px" src="../assets/img/home/home-03.jpg"></a>
                        <h5 class="text-center mt-4 mb-4">Home 03</h5>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mt-4"id="card">
                        <a href="">
                        <img class="img-fluid rounded-corner" width="350px" src="../assets/img/home/home-04.jpg"></a>
                        <h5 class="text-center mt-4 mb-4">Home 04</h5>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mt-4" id="card">
                        <a href="">
                        <img class="img-fluid rounded-corner" width="350px" src="../assets/img/home/home-05.jpg"></a>
                        <h5 class="text-center mt-4 mb-4">Home 05</h5>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mt-4"id="card">
                        <a href="">
                        <img class="img-fluid rounded-corner"  width="350px" src="../assets/img/home/comingsoon.jpg"></a>
                        <h5 class="text-center mt-4 mb-4">More Demos Comming Soon...</h5>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-success pt-5 mt-5 pb-5 mb-5" id="fluid2">
            <div class="row justify-content-center pt-5 mt-5">
                <div class="col-lg-5">
                <h1 class="text-white text-center fw-bold pb-4">Candidates and Employers Dashboard</h1>
                <img class="img-fluid pb-5 mb-5"  src="../assets/img/home/dashboard.png">
        </div>
    </div>
        </div>
        <div class="container-fluid pt-5 mt-5  pb-5 mb-5">
            <h1 class="fw-bold text-center pb-4 mb-5">Ready-to-use Inner Pages</h1>
            <div class="owl-carousel owl-theme">
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/06.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/07.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/08.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/09.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/10.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/11.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/12.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/13.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/14.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/15.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/16.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/17.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/18.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/19.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/20.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/21.jpg"></a>
                    </div>
                </div>
                <div class="item pe-4 pb-5 mt-2">
                    <div class="card">
                        <a href=""> <img src="../assets/img/slides/22.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-light pt-5 mt-5 pb-5 mb-5" id="fluid3">
            <div class="row pt-5 pb-5 mb-5">
                <div class="col-sm-12 col-md-12 col-lg-7">
                    <img  src="../assets/img/home/job-layout.png">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5">
                        <span class=" text-start text-warning"><h1 class="fw-bold" id="num">15+</h1></span>
                        <h1 class="text-dark mt-3 mb-3">Job Listing Layouts</h1>
                        <p class="text-secondary">A higher Job Board is out there. We'll assist you discover it. We're your first step
                             to turning into the whole lot you need to be.</p>
            </div>
        </div>
        </div>
        <div class="container-fluid py-4 px-4 pb-5 pt-5 mt-5 mb-5">
            <h1 class="text-dark fw-bold text-center pb-5">Shortcodes & Elements</h1>
            <div class="row gx-4 gy-4" id="element">
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-sliders me-3"></i> Accordian</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-bell me-3"></i>Alerts</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-exclude me-3"></i>Blockquote</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-link-45deg me-3"></i>Buttons</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-square me-3"></i>Call to Action</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-image me-3"></i>Carousel Slider</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card py-2 px-2">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-flag me-3"></i>Count Down</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-lightning-charge-fill me-3"></i>Counters</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-badge-cc me-3"></i>Dropcaps</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-boxes me-3"></i>Form Elements</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-check-square me-2"></i>Font Icons</a>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-thermometer-high me-3"></i>Highlights</a>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-arrows-fullscreen me-3"></i>Header Style 01</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-arrows-fullscreen me-3"></i>Header Style 02</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-file-font me-3"></i>Icons With Text</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-list-ul me-3"></i>List Styles</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-film me-3"></i>Media Object</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-bell me-3"></i>Modal</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-caret-right-square me-3"></i>Pagination</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-list-check me-3"></i>Progress Bars</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-table me-3"></i>Tables</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-font me-3"></i>Tabs</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-fonts me-3"></i>Typography</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card  py-1 px-1">
                        <div class="card-body ">
                            <a href=""><i class="bi bi-camera-video-fill me-3"></i>Videos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-success pt-5 mt-5 pb-4 mb-5">
            <div class="text-center mt-5" id="board">
            <h1 class="text-white fw-bold mb-4">Job Board - Job Portal HTML Template</h1>
            <a href="" class="btn">Download Now</a>
            <h6 class="text-white mt-5">© 2023 Job Board Powered by <a href="" class="link">Chitrakoot Web</a> </h6>
        </div>
        </div>
    <!-- </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      var owl = $('.owl-carousel');
      owl.owlCarousel({
        items:4,
        loop:true,
        margin:10,
        autoplay:true,
        autoplayTimeout:1000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1
            },
            576:{
                items:2
            },
            1000:{
                items:4
            },
            992:{
                items:2
            }
        }
         });
      </script> 
</body>
</html>